<h2>Calls To 16555721  | </h2>From 2009-02-01 00:00:00 To 2009-02-15 23:59:59<h2></h2><br><b>Total Cost: </b>0.0210 BD<br><b>Number of Calls: </b>1 Calls<br><b>Called Minutes: </b>0.1 Minutes<br><b>Called Seconds: </b>6 Seconds