From 2007-09-18 00:00:00 To 2007-09-30 23:59:59<h2>Calls To80089987</h2><h2></h2><br><b>Total Cost: </b>0.0000 BD<br><b>Number of Calls: </b>59607 Calls<br><b>Called Minutes: </b>164338.916667 Minutes<br><b>Called Seconds: </b>9860335 Seconds