From 2007-10-1 00:00:00 To 2007-10-10 23:59:59<h2>Calls To80089987</h2><h2></h2><br><b>Total Cost: </b>0.0000 BD<br><b>Number of Calls: </b>116266 Calls<br><b>Called Minutes: </b>331232.766667 Minutes<br><b>Called Seconds: </b>19873966 Seconds