From 2007-10-21 00:00:00 To 2007-10-31 23:59:59<h2>Calls To80089987</h2><h2></h2><br><b>Total Cost: </b>0.0000 BD<br><b>Number of Calls: </b>19469 Calls<br><b>Called Minutes: </b>50356.65 Minutes<br><b>Called Seconds: </b>3021399 Seconds