From 2007-10-11 00:00:00 To 2007-10-20 23:59:59<h2>Calls To80089987</h2><h2></h2><br><b>Total Cost: </b>0.0000 BD<br><b>Number of Calls: </b>238502 Calls<br><b>Called Minutes: </b>546270.766667 Minutes<br><b>Called Seconds: </b>32776246 Seconds