#outer {
left: 50%;
margin-left: -372px;
height: auto;
}

#top_menu{
display:block;
position: absolute;
left: 0px;
clear: both;
}

.sdNavigation {
padding:0pt 0pt 0pt 20px;
}
.sdNavigation li a {
width: 100%;
}



.interest-box {
 position:relative;
 margin:0px;
 min-width:8em;
 max-width:760px; /* based on image dimensions - not quite consistent with drip styles yet */
 /* width: 100%; */
 /* color:#fff;  */
 z-index:1;
 margin-left:12px; /* default, width of left corner */
 margin-bottom:0.5em; /* spacing under dialog */
}

.interest-box .content {
 padding:0;
 width: 100%;
}

.interest-box .t {
 /* top+left vertical slice */
 position:absolute;
 left:0px;
 top:0px;
 width:12px; /* top slice width */
 margin-left:-12px;
 height:100%;
 _height:1600px; /* arbitrary long height, IE 6 */
 background-position:top left;
}

.interest-box .b {
 /* bottom */
 position:relative;
 width:100%;
}

.interest-box .b,
.interest-box .b div {
 height:6px; /* height of bottom cap/shade */
 font-size:1px;
}

.interest-box .b {
 background-position:bottom right;
}

.interest-box .b div {
 position:relative;
 width:12px; /* bottom corner width */
 margin-left:-12px;
 background-position:bottom left;
}

.interest-box .hd,
.interest-box .bd,
.interest-box .ft {
 position:relative;
}

.interest-box .wrapper {
 /* extra content protector - preventing vertical overflow (past background) */
 position:static;
 max-height:1000px;
 overflow:auto; /* note that overflow:auto causes a rather annoying redraw "lag" in Firefox 2, and may degrade performance. Might be worth trying without if you aren't worried about height/overflow issues. */
}

.interest-box h2,
.interest-box p {
 margin:0px; /* margins will blow out backgrounds, leaving whitespace. */
 padding:0.5em 0px 0.5em 0px;
}

.interest-box h2 {
 padding-bottom:0px;
}

div.title{
position:absolute;
margin: 0px;
padding-left: 10px;
padding-top: 5px;
background:#E3E6E3;
width: 180px;
/*height: 20px;*/
height: auto;
}


div.title_clear{
position:absolute;
margin: 0px;
padding-left: 10px;
background:transparent;
width: 180px;
/*height: 20px;*/
height: auto;
}

div.title_large{
position:absolute;
margin: 0px;
padding-left: 10px;
padding-top: 5px;
background:#E3E6E3;
width: 180px;
/*height: 60px;*/
}


div.hide{
display: none;
}



div.show{
display: inline;
}

div.control{
position:absolute;
margin: 0px;
padding-left: 200px;
/*height: 20px;*/
height: auto;
}

div.control_large{
position:absolute;
margin: 0px;
padding-left: 200px;
/*height: 60px;*/
}


div.btn{
position:relative;
margin: 0px;
padding-left: 200px;
/*height: 20px;*/
height: auto;
}

div, p {
margin-top:0px;
}

div.print_text_title{
position:absolute;
margin: 0px;
padding-left: 0px;
padding-top: 0px;
background:transparent;
width: 200px;
height: 15px;
}

div.print_text_data{
position:absolute;
margin: 0px;
padding-left: 200px;
padding-top: 0px;
background:transparent;
width: 300px;
height: 15px;
}

div.print_text_header{
position:absolute;
margin: 0px;
padding-left: 0px;
padding-top: 0px;
background:transparent;
width: 400px;
height: 15px;
font-style:bold;
}


div.control_summary{
position:relative;
margin: 0px;
padding-left: 10px;
padding-top: 5px;
background:transparent;
width: 200px;
height: 250px;
}
button.blue-button{
background-color:lightblue;
height: auto;
}

input.blue-button{
background-color:lightblue;
height: auto;
}
