#logo {
height:60px;
position:absolute;
top: 39px;
right: 40px;
width:60px;
margin: 10px 0 0 0;
z-index: 9999;

}

#footer {
display: block;
left: 50%;
margin: 0 0 0 -385px;
padding: 0;
clear:both;
width:770px;
}

.footerFixer{
display: block;
height: 47px;
}

#layout_footer_strip {
padding: 0;
margin: 0;
clear: both;
height:130px;
position: relative;
z-index:1;
}
#layout_footer_strip #layout_footer_bar_left {
bottom:0pt;
height:26px;
left:0pt;
position:absolute;
width:50%;
}
#layout_footer_strip #layout_footer_bar_right {
bottom:0pt;
height:92px;
position:absolute;
right:0pt;
width:50%;
}

.footerStripFixer{
}