<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "XHTML1-s.dtd" >
<html xmlns="http://www.w3.org/TR/1999/REC-html-in-xml"
	  xml:lang="en" lang="en" debug="false">
<head>
  <title>[(site_name)] | [*pagetitle*]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF8" /><!-- [(modx_charset)] -->
  <base href="[(site_url)]"></base>
  <link rel="stylesheet" href="assets/templates/2connect/2c_general-pages.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="assets/templates/2connect/2connect-common.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="assets/templates/2connect/print.css" type="text/css" media="print" />
  <!--[if IE 6]>
  <link rel="stylesheet" href="assets/templates/2connect/2c_general-pages_ie.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="assets/templates/2connect/2c_common_ie.css" type="text/css" media="screen" />
  <![endif]-->
  <link rel="stylesheet" href="assets/templates/2connect/form.css" type="text/css" media="screen" />
  <script src="assets/js/mootools/mootools-release-1.11.js" type="text/javascript"></script>
  
  
<!--
<script src="assets/js/smoothbox/smoothbox.js" type="text/javascript"></script>
<link rel="stylesheet" href="assets/templates/2connect/smoothbox.css" type="text/css" media="screen" />
<script src="assets/js/modalizer/modalizer.js" type="text/javascript"></script>
-->


<script src="assets/js/multibox/multibox.js" type="text/javascript"></script>
<link rel="stylesheet" href="assets/js/multibox/multibox.css" type="text/css" />
<script src="assets/js/multibox/overlay.js" type="text/javascript"></script>
<script src="assets/templates/2connect/js/2connect.js" type="text/javascript"></script>
	[*formValidator*]
	[*hideH2*]
</head>
<body>
<div id="wrapper">
	<div id="layout_header_strip">
		<div id="layout_header_bar_left">&nbsp</div>
		<div id="layout_header_bar_right">&nbsp</div>
	</div>
  <div id="minHeight"></div>
  <div id="outer">
    <div id="inner">


			
      <div id="left">
        <div id="left-inner">
          <div id="content">
            <div class="post">
			  <h1>[(site_name)]</h1>
              <h2>[*longtitle*]</h2>
              [*#content*]
              [*ProductsAndServices*] 
            </div>
			<div class="clearBoth">&nbsp;</div>
            <!-- close .post (main column content) -->
          </div>
          <!-- close #content -->
        </div>
        <!-- end left-inner -->
      </div>
      <!-- end left -->
	  <div id="right">
        <div id="right-inner">
          <div id="sidebar">
		  
		  
						
						<script type="text/javascript" src="/2connect/public_html/livechat/livehelp_js.php?eo=1&relative=Y&amp;department=1&amp;serversession=1&amp;pingtimes=15&amp;secure=Y"></script>
						
						<!-- {{ContestSignUp}} -->
						{{NewsletterSubscribe}}
						{{SearchTrigger}}
					</div>
          <!-- close #sidebar -->
        </div>
        <!-- end right inner-->
      </div>
      <!-- end right -->
    </div>
    <!-- end inner -->
    <div id="clearfooter"></div>
     <div style="clear:both;height:0;font-size: 0px" >&nbsp;</div>
    <div id="header">
      <div id="top_menu">[[Wayfinder?startId=`0` &level=`1` &outerTpl=`mh.OuterTpl` &innerTpl=`mh.InnerTpl` &rowTpl=`mh.RowTpl` &innerRowTpl=`mh.InnerRowTpl` &firstClass=`first` &hereClass=`current`]]</div>
	  
	  <a href="[~1~]" title="2Connect Bahrain W.L.L. Home" id="logo"><img src="assets/templates/2connect/images/2C-logo.gif" width="60px" height="65px" /></a>
      <!-- end topmenu -->
    </div>
    <!-- end header -->
    <div style="clear:both;height:0;font-size: 1px" /></div>
  </div>
 
  <!-- end outer div -->

	<div id="layout_footer_strip">
	    <div id="footer">
			[[Wayfinder?startId=`59` &level=`1` &outerTpl=`sdNav.OuterTpl` &innerTpl=`sdNav.InnerTpl` &rowTpl=`sdNav.RowTpl` &innerRowTpl=`sdNav.InnerRowTpl` &firstClass=`first` &hereClass=`current`]]
			<div class="footerFixer"></div>
		</div>
		<div id="layout_footer_bar_left">&nbsp</div>
		<div id="layout_footer_bar_right">&nbsp</div>
		<div class="footerStripFixer"></div>
	</div>
    <!-- end footer -->
    
	
</div>
<!-- end wrapper -->
{{customer-login}}
{{SearchForm}}
<div id="blank"></div>
<script type="text/javascript" language="javascript" src="assets/js/firebug/firebug.js"></script>
</body>
</html>
