@import url( dialog2.css );
@import url( content-box.css );

html {
height:100%;
margin:0pt;
padding:0pt;
}
html, body {
background-color:#000;
font-family:verdana,sans-serif;
font-size:11px;
margin:0pt;
padding:0pt;
}
body {
/* background:transparent url(images/bg_4x818.jpg) repeat-x scroll left top; */
height:100%;
min-width:776px;
text-align:left;
}
body a{
text-decoration: none;
}

#content p {
color:#444444;
line-height:18px;
text-align: justify;
}


#content p a, #sidebar p a {
color:#618200;
}

#content p a:hover, #sidebar p a:hover {
font-weight: 700;
text-decoration: underline;
}

#layout_footer_strip {
background-color:#E3E6E3;
bottom:0pt;
height:122px;
position:relative;
right:0pt;
width:100%;
z-index:1;
}
#layout_footer_strip #layout_footer_bar_left {
background:transparent url(images/general-pages/layout-footer-bar-left.jpg) repeat-x scroll left top;
bottom:0pt;
height:26px;
left:0pt;
position:absolute;
width:45%;
}
#layout_footer_strip #layout_footer_bar_right {
background:transparent url(images/general-pages/layout-footer-bar-right.jpg) repeat-x scroll left top;
bottom:0pt;
height:92px;
position:absolute;
right:0pt;
width:45%;
}


#wrapper {
position:relative;
z-index:1;

}
#outer {
height:99.9%;
margin:auto;
/* min-height:100%; */
overflow:visible;
position:relative;
text-align:left;
width:744px;
z-index:20;
}
* html #outer {
width:744px;
}
html > body #outer {
height:auto;
}
#inner {
width:100%;
}

#ajaxmenu {
background: #000000 url(images/header_776x43.jpg) no-repeat scroll left top;
display:none;
height:43px;
left:0px;
position:absolute;
top:93px;
width:776px;
z-index:65;
}


h1{ float: right; }

#footer {
background:transparent url(images/general-pages/layout-footer-main.jpg) no-repeat scroll left top;
clear:both;
height:122px;
margin:0pt auto;
padding:0pt 20px;
position:relative;
text-align:left;
width:730px;
z-index:100;
}
#footer p {
margin-top:10px;
padding:8px;
}
#footer p a {
color:#FFFFFF;
text-decoration:none;
}

* html #footer {
height:82px;
z-index:100;
}
div, p {
margin-top:0px;
}
#right {
float:right;
padding-top: 1em;
width:205px;
z-index:55;
position: relative;
}
#right-inner {
padding-left:9px;
padding-right: 9px;
text-align:left;
/* width:185px; */
position: relative;
}
#right-inner h2 {
font-size:medium;
margin: 0;
}


#left {
float:left;
padding-left:7px;
position:relative;
width:528px;
z-index:56;
}

#left-inner {
padding-left:9px;
padding-right:9px;
text-align:left;
}
#clearfooter {
clear:both;
height:1px;
width:100%;
display: none;
}

html > body #minHeight {
float:left;
height:100%;
margin-bottom:-82px;
width:0px;
}
#content {
padding-bottom:7px;
z-index:300;
}



h3#post- {
background:transparent url() no-repeat scroll left top;
color:#618200;
font-size:medium;
padding-left:0pt;
}



#footer p {
padding:8px;
}

.LIn_shortMode {
list-style-type:none;
margin:0pt;
padding:0pt;
}
.LIn_desc {
display:none;
}
.LIn_date {
font-style:italic;
margin-left:5px;
}

img{border:none;}
/* Sliding Doors Buttons for Navigation */



#footer ul {
height:25px;	/* Height of the graphic button */
width: 450px;
list-style-image:none;
list-style-type:none;

}

.sdNavigation {
list-style-image:none;
list-style-type:none;
margin:0pt;
padding:0pt 0pt 0pt 10px;
position: relative;
}

.sdNavigation li {
background:transparent url(images/sliding-button-General_left.jpg) no-repeat scroll left top; /* button at initial state */
float:left;
display: block;
text-transform:uppercase;
position: relative;
width: 45%;
margin-right: 2%;
}

.sdNavigation li a {
background:transparent url(images/sliding-button-General_right.jpg) no-repeat scroll right top; /* button at initial state */
display:block;
float:left;
font-weight:700;
height: 20px !important;
height:25px;
padding:5px 15px 0 38px;
position:relative;
text-decoration:none;
color:#000;
position: relative;
width: 75%;
}
/*
.sdNavigation li.current {
background:transparent url(images/sliding-button-General_left.jpg) no-repeat scroll left -100px; 
}

.sdNavigation li.current a {
background:transparent url(images/sliding-button-General_right.jpg) no-repeat scroll right -100px;
}
*/

.sdNavigation li.current {
background:transparent url(images/button-active_left.jpg) no-repeat scroll left; /* button at initial state */
}

.sdNavigation li.current a {
background:transparent url(images/button-active_right.jpg) no-repeat scroll right; /* button at initial state */
}

#sidebar { position: relative; }

h2 {
padding-top: 10px;
font-size: large;
}

#customer_login{
width: 550px;
background: transparent;
color: #000;
position: absolute;
left: 50%;
margin-left: -275px;
top: 0;
/* z-index: 100; */
z-index: 1;
margin-top: -250px;
}

#customer_login #customer-login-heading{
background: url( images/customer-login-background-heading.png );
display: block;
height: 40px;
padding: 0;
margin: 0;
}

#customer_login #customer-login-heading span{
display: none;
}
#customer_login #login_instructions{
position: relative;
background: url(images/customer-login-background-handle.gif) no-repeat top right;
height: 22px;
text-align: center;
padding: 4px 0 0 0;
margin: 0;
cursor: pointer;
color: #000;
font-weight: 700;
}
#customer_login form{
width: 50%;
position: relative;
display: block;
clear: both;
}
#customer_login #loginFormContainer{
background: #fff url(images/customer-login-background-area.jpg) no-repeat bottom right;
display: block;
clear: both;
position: relative;
padding: 10px 10px 0 10px;
}

/* Duplicated in 2c_main-page.css */
.tcForm{
padding: 0;
margin: 0;
/* padding-bottom: -1em; */
position: relative;
width: 99%
}
.tcForm label{
position: relative;
width: 50%;
float: left;
display: block;
margin-bottom: 5px;
}
.tcForm .fixThis {
border-left: 2px solid #FFB7B7;
padding-left: 1.5%;
background: #FFB7B7;
width: 90%;
}

.tcForm label span{
clear: both;
display: block;
position: relative;
}
.tcForm input, .tcForm select, .tcForm textarea{
position: relative;
width: 90%;
border: 1px solid #ccc;
font-family: Courier New;
}
.tcForm textarea{
width: 195%;
}

.tcForm input.active, .tcForm select.active, .tcForm textarea.active{
background: #FFFFB7;
border: 1px solid #000;
}


.tcForm fieldset{
border: 1px solid #ccc;
border: none;
margin-bottom: 2em;
padding: 5px;
}

.tcForm legend{
width: 50%;
background: #eee url( images/form-Legend-background.png ) repeat-x left bottom;
padding: 2px 20px;
margin: 0 0 1em 0;
border-bottom: 1px solid #000;
}

.tcForm .formButton{
width: 111px;
height: 22px;
position: relative;
clear: both;
display: block;
margin: 0;
padding: 0;
}
.tcForm .formButton input{
margin: 0;
padding: 0;
position: relative;
height: 22px;
width: 111px;
border: none;
}
.tcForm .formButton  input.submit{
background: url(images/formButton-Submit.png) no-repeat;
}
.tcForm .formButton  input.submit:hover{
background: url(images/formButton-Submit.png) no-repeat 0px -22px;
}

.tcForm .formButton  input.enterDraw{
background: url(images/formButton-EnterDraw.png) no-repeat;
margin-right: 20px;
display: block;
position: relative;
padding: 0;
}
.tcForm .formButton  input.enterDraw:hover{
background: url(images/formButton-EnterDraw.png) no-repeat 0px -22px;
}

.ajaxLoading, .ajax-loading{
background: url('images/spinner.gif') no-repeat top left;
min-height: 25px;
}

.result{
/*
position: relative;
display: block;
clear: both;
padding: 5px 0;
z-index: 1500;
*/
}

.result .error, .result .success{
position: relative;
min-height: 25px;
padding: 5px 0 5px 30px;
display: block;
clear: both;
margin: 1px;
z-index: 800;
}
	
.result .error{
color: #f00;
background: url('images/error.png') no-repeat left;
border-top: 2px solid #f00;
border-bottom: 2px solid #f00;
}

.result .success{
background: url('images/success.png') no-repeat left;
font-size: medium;
border-top: 2px solid #0f0;
border-bottom: 2px solid #0F0;
}

#drawResult{
position: relative;
margin-left: 20px;
top: 0;
left: 0;
}

/*
.tcForm .error{
color: #f00;
background: url('images/error.png') no-repeat left;
height: 25px;
padding: 0 0 0 30px;
}

.tcForm .success{
background: url('images/success.png') no-repeat left;
height: 25px;
padding: 0 0 0 30px;
font-size: 22px;
}
*/
.tcForm .radioGroup{
}

.tcForm label.radioGroup{
display: block;
clear: both;
}

.tcForm label.radioGroup span{
clear: none;
display: inline;
}
.tcForm label.radioGroup input, .tcForm fieldset.subSelection input{
width: auto;
border: none;
}

.tcForm fieldset.subSelection{
width: 48%;
float: left;
padding: 0;
}

.tcForm fieldset.subSelection label{
width: 100%;
padding: 0;
}

/* end of duplication from 2c_main */


#drawResult{
position: relative;
top: 0;
left: 0;
}


.padding10px{
padding:  0 10px;
}


.interestContent{
list-style: none;
margin: 0;
padding: 0;
width: 33%;
}
.interestContent li{
margin-bottom: 5px;
}
.interestContent a{
position: relative;
}
.interestContent a span{
display: none;
}

.clearBoth{
clear: both;
display: block;
position: relative;
}

a.button-Apply{
	background: url(images/button-apply.png) no-repeat left top;
	width: 101px;
	height: 25px;
	float: right;
	position: relative;
	margin-left: 1em;
	margin-bottom: 1em;
}
a.button-Apply:hover{
	background: url(images/button-apply.png) no-repeat 0 -25px;
}

/**** Banners ****/
#ad_mpls {
	height: 75px;
}
#ad_mpls a {
	cursor: pointer;
}

#ad_Olympics {
	height: 110px;
}
#ad_Olympics a {
	cursor: pointer;
}


#searchTriggerContainer > div {
	/* cursor: pointer, hand, default ; */
	cursor: pointer;
}


#canvasArea {
clear:both;
display:block;
height:302px;
position:relative;
z-index: 1000;
}
#canvas {
background:transparent url(images/main-page/layout-showcase-area.jpg) no-repeat scroll left top;
display:block;
/* height:268px; */
height: 268px;
position:relative;
margin-top: -1px;
padding: 0;
}
#main_navigation {
background:transparent url(images/main-page/layout-showcase-navigation-bar.jpg) no-repeat scroll left top;
height:34px;
position:relative;
text-align:center;
margin: 0;
padding: 0;
z-index: 1200;
}

#canvas h2 {
margin: 0;
padding: 15px 0 0 1em;
position: relative;
background: url( images/main-page/bg-Heading2.png );
height: 35px;
z-index: 99;
text-align: center;
}
#canvas h2 span{ display: none; }

/*
#canvas img {
padding-right: 2em;
}
*/



#canvas ul.productList {
list-style: none;
margin: -5px 0 0 0;
padding: 0;
position: relative;
float: left;
width: 544px;
z-index: 110;
}
#canvas ul.productList li{
display: block;
float: left;
text-align: center;
width: 20%;
width: 19.9%;
padding:  0 2.5%;
height: 109px;
position: relative;
cursor: pointer;
/* border: 1px solid #f00; */
}

#canvas ul.productList li img {
clear: both;
display: block;
position: absolute;
left: 35px;
z-index: 1100;
}

#canvas ul.productList li span {
display: block;
clear: both;
margin: 0;
padding: 0;
width: 100%;
cursor: pointer;
font-weight: 700;
font-size: small;
position: absolute;
bottom: 10px;
left: 0;	
}
#canvas ul.productList li:hover {
color: #f00;
}

.canvasBodyDescription{
background: url(images/main-page/bg-CanvasBodyDescription.png) repeat scroll left bottom;
height: 223px;
width: 200px;
float: right;
position: relative;
float: right;
margin-top: -5px;
z-index: 90;
}
.canvasBodyDescription div{
position: absolute;
float: left;
top: 0;
left: 0;
display: block;
width: 200px;

}

.canvasBodyDescription div p{
text-align: justify;
padding: 5px;
display: block;
margin: 0;
position: relative;	
font-weight: 700;
}
.canvasBodyDescription h3{
margin: 0;
padding: 15px 0 0 1em;
position: relative;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/main-page/bg-Heading3Desc.png');
background: url( images/main-page/bg-Heading3Desc.png );
height: 35px;
}
.canvasGoButton{
position: absolute;
bottom: 15px;
right: 15px;
margin: 0;
padding: 0;
background: url(images/formButton-moreInformation.png) no-repeat 0 0;
width: 111px;
height: 22px;
}
.canvasGoButton:hover{
background: url(images/formButton-moreInformation.png) no-repeat 0 -22px;
}
#welcome{ display: none; }

#awards{
font-size: medium;
}

#draw_form_container{
float: right;
width: 60%;
position: relative;
}
#draw_form_container h3{
text-decoration: underline;
}


#download-form{
text-align: right;
padding: 0;
margin: 25px 0 -25px 0;
position: relative;
height: 50px;
}
#download-form a{
width: 175px;
height: 50px;
background: url('images/buttons/button-download-form.png') no-repeat 0 0;
padding: 0;
margin: 0;
position: relative;
float: right;
}
#download-form a img{
margin: 0;
padding: 0;
position: relative;
}
#download-form a:hover{
width: 175px;
height: 50px;
background: url('images/buttons/button-download-form.png') no-repeat 0 -50px;
}

/*
 * Table Styles
 */
 
table{
border-top: 1px solid #999;
position: relative;
display: table;
width: 100%;
}
table thead tr th:first-child, table tbody tr td:first-child{
border-left: 1px solid #999;
}
table tbody tr td:first-child{
text-align: left;
}
table thead tr th{
background: #09f;
color: #fff;
font-weight: 700;
text-align: center;
padding: 3px 2px;
border-right: 1px solid #999;
}
table thead tr.odd th{
background: #369;
}
table tbody tr td{
padding: 3px;	
border-right: 1px solid #999;
text-align: center;
}
table tbody tr td.noBorder{
border-right: none;
}
table tbody tr.odd td{
background: #DEFEFE;
}
table tbody tr td.altCol{
}
table tbody tr.odd td.altCol{
background: #D3F2FA;
}
table tfoot tr td {
padding-top: 1.5em;	
font-weight: 700;
border-top: 1px solid #999;
}


#timeline{
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
}
#timeline .timeperiod h4{
	display: inline;
	float: left;
	position: relative;
	width: 85px;
	clear: left;
	border: 1px solid #000;
	background-color: #369;
	color: #fff;
	margin: 0;
	padding: 10px;
}
#timeline .timeperiod p{
	display: inline;
	position: relative;
	clear: right;
	float: left;
	border: 1px solid #999;
	width: 380px;
	padding: 10px;
	min-height: 30px;
}
#timeline .timeperiod{
	display: block;
}	
#NewsletterSubscribeResult{
/*
display: block;
clear: both;
border-bottom: 2px solid #f00;
*/
}


/*
 * Tooltip Styles
 */


.tool-tip {
	color: #fff;
	width: 139px;
	z-index: 13000;
	background: #0771d3;
}
 
.tool-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #9FD4FF;
	padding: 8px 8px 4px;
	background: url(bubble.png) top left;
}
 
.tool-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: url(bubble.png) bottom right;
}
 
.custom-tip {
	color: #000;
	width: 130px;
	z-index: 13000;
}
 
.custom-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #3E4F14;
	padding: 8px 8px 4px;
	background: #C3DF7D;
	border-bottom: 1px solid #B5CF74;
}
 
.custom-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: #CFDFA7;
}

 