

/* Show only to IE PC \*/
* html .content-box h2 {height: 1%;} /* For IE 5 PC */

.content-box {
position: relative;
margin: 0 auto 1.5em; /* center for now */
padding: 0;
font-size: 100%;
cursor: pointer;
}

.content-box > h2{
margin: 0;
padding: 0;
text-align: left;
font-size: 12px;
padding-top: 0px;
}

.content-box h2 span {
margin: 0;
padding: 4px 15px;
line-height: 1em;
display: block;
position: relative;
}

.content-box-content {
margin: 0;
padding: 5px 15px 10px;
}

.cb-blue {
background: url(images/content-box_q4.png) no-repeat bottom right;
}

.cb-blue > h2{
background: url(images/content-box_q1.png) no-repeat top right;
}

.cb-blue h2 span {
background: url(images/content-box_q2.png) no-repeat top left;
}

.cb-blue .content-box-content {
background: url(images/content-box_q3.png) no-repeat bottom left;
}

.cb-green {
background: url(images/content-box-green-q4.png) no-repeat bottom right;
}

.cb-green > h2{
background: url(images/content-box-green-q1.png) no-repeat top right;
}

.cb-green h2 span {
background: url(images/content-box-green-q2.png) no-repeat top left;
}

.cb-green .content-box-content {
background: url(images/content-box-green-q3.png) no-repeat bottom left;
}


.cb-orange {
background: url(images/content-box-orange-q4.png) no-repeat bottom right;
}

.cb-orange > h2{
background: url(images/content-box-orange-q1.png) no-repeat top right;
}

.cb-orange h2 span {
background: url(images/content-box-orange-q2.png) no-repeat top left;
}

.cb-orange .content-box-content {
background: url(images/content-box-orange-q3.png) no-repeat bottom left;
}
