
/* Dialog CSS Rounded Corners: http://www.schillmania.com/projects/dialog2/ */

/* 
  -- Even more rounded corners with CSS: Base stylesheet --
*/

.dialog {
 position:relative;
 margin:0px auto;
 min-width:8em;
 max-width:760px; /* based on image dimensions - not quite consistent with drip styles yet */
 width: 95%;
 /* color:#fff;  */
 z-index:1;
 margin-left:12px; /* default, width of left corner */
 margin-bottom:0.5em; /* spacing under dialog */
 /* cursor:pointer; */
}

.dialog .content,
.dialog .t,
.dialog .b,
.dialog .b div {
 background:transparent url(images/dialog/regular.png) no-repeat top right;
 _background-image:url(dialog2-blue.gif);
}


.dialog .content {
 position:relative;
 zoom:1;
 _overflow-y:hidden;
 padding:0px 12px 0px 0px;
}

.dialog .t {
 /* top+left vertical slice */
 position:absolute;
 left:0px;
 top:0px;
 width:12px; /* top slice width */
 margin-left:-12px;
 height:100%;
 _height:1600px; /* arbitrary long height, IE 6 */
 background-position:top left;
}

.dialog .b {
 /* bottom */
 position:relative;
 width:100%;
}

.dialog .b,
.dialog .b div {
 height:15px; /* height of bottom cap/shade */
 font-size:1px;
}

.dialog .b {
 background-position:bottom right;
}

.dialog .b div {
 position:relative;
 width:12px; /* bottom corner width */
 margin-left:-12px;
 background-position:bottom left;
}

.dialog .hd,
.dialog .bd,
.dialog .ft {
 position:relative;
}

.dialog .wrapper {
 /* extra content protector - preventing vertical overflow (past background) */
 position:static;
 max-height:1000px;
 overflow:auto; /* note that overflow:auto causes a rather annoying redraw "lag" in Firefox 2, and may degrade performance. Might be worth trying without if you aren't worried about height/overflow issues. */
}

.dialog h1,
.dialog p {
 margin:0px; /* margins will blow out backgrounds, leaving whitespace. */
 padding:0.5em 0px 0.5em 0px;
}

.dialog h1 {
 padding-bottom:0px;
}


/*
=HOVER
-------------------------------------------------------------------
*/

.dialog-active {
 position:relative;
 margin:0px auto;
 min-width:8em;
 max-width:760px; /* based on image dimensions - not quite consistent with drip styles yet */
 z-index:1;
 margin-left:12px; /* default, width of left corner */
 margin-bottom:0.5em; /* spacing under dialog */
 /* cursor:pointer; */
}

.dialog-active .content,
.dialog-active .t,
.dialog-active .b,
.dialog-active .b div {
 background:transparent url(images/dialog/active.png) no-repeat top right;
 _background-image:url(dialog2-blue.gif);
}


.dialog-active .content {
 position:relative;
 zoom:1;
 _overflow-y:hidden;
 padding:0px 12px 0px 0px;
}

.dialog-active .t {
 /* top+left vertical slice */
 position:absolute;
 left:0px;
 top:0px;
 width:12px; /* top slice width */
 margin-left:-12px;
 height:100%;
 _height:1600px; /* arbitrary long height, IE 6 */
 background-position:top left;
}

.dialog-active .b {
 /* bottom */
 position:relative;
 width:100%;
}

.dialog-active .b,
.dialog-active .b div {
 height: 30px; /* height of bottom cap/shade */
 font-size:1px;
}

.dialog-active .b {
 background-position:bottom right;
}

.dialog-active .b div {
 position:relative;
 width:12px; /* bottom corner width */
 margin-left:-12px;
 background-position:bottom left;
}

.dialog-active .hd,
.dialog-active .bd,
.dialog-active .ft {
 position:relative;
}

.dialog-active .wrapper {
 /* extra content protector - preventing vertical overflow (past background) */
 position:static;
 max-height:1000px;
 overflow:auto; /* note that overflow:auto causes a rather annoying redraw "lag" in Firefox 2, and may degrade performance. Might be worth trying without if you aren't worried about height/overflow issues. */
}

.dialog-active h1,
.dialog-active p {
 margin:0px; /* margins will blow out backgrounds, leaving whitespace. */
 padding:0.5em 0px 0.5em 0px;
}

.dialog-active h1 {
 padding-bottom:0px;
}

.dialog .content h2 {
margin: 0;
padding: 10px 0 0 0;
display: block !important;
background: none;
position: relative;
}


/*****
INTEREST BOX
*******/

/* Dialog CSS Rounded Corners: http://www.schillmania.com/projects/dialog2/ */

/* 
  -- Even more rounded corners with CSS: Base stylesheet --
*/

.interest-box {
 position:relative;
 margin:0px;
 min-width:8em;
 max-width:760px; /* based on image dimensions - not quite consistent with drip styles yet */
 /* width: 96%; */
 /* color:#fff;  */
 z-index:1;
 margin-left: 12px; /* default, width of left corner */
 margin-bottom: 0.5em; /* spacing under dialog */
}

.interest-box .content,
.interest-box .t,
.interest-box .b,
.interest-box .b div {
 background:transparent url(images/interest-box.gif) no-repeat top right;
 _background-image:url(images/interest-box.gif);
}


.interest-box .content {
 position:relative;
 zoom:1;
 _overflow-y:hidden;
 padding:0px 12px 0px 0px;
}

.interest-box .t {
 /* top+left vertical slice */
 position:absolute;
 left:0px;
 top:0px;
 width:12px; /* top slice width */
 margin-left:-12px;
 height:100%;
 _height:1600px; /* arbitrary long height, IE 6 */
 background-position:top left;
}

.interest-box .b {
 /* bottom */
 position:relative;
 width:100%;
}

.interest-box .b,
.interest-box .b div {
 height: 15px; /* height of bottom cap/shade */
 font-size:1px;
}

.interest-box .b {
 background-position:bottom right;
}

.interest-box .b div {
 position:relative;
 width:12px; /* bottom corner width */
 margin-left:-12px;
 background-position:bottom left;
}

.interest-box .hd,
.interest-box .bd,
.interest-box .ft {
 position:relative;
}

.interest-box .wrapper {
 /* extra content protector - preventing vertical overflow (past background) */
 position:static;
 max-height:1000px;
 overflow:auto; /* note that overflow:auto causes a rather annoying redraw "lag" in Firefox 2, and may degrade performance. Might be worth trying without if you aren't worried about height/overflow issues. */
}

.interest-box h2,
.interest-box p {
 margin:0px; /* margins will blow out backgrounds, leaving whitespace. */
 padding:0.5em 0px 0.5em 0px;
}

.interest-box h2 {
 padding-bottom:0px;
}