table
{
	border-collapse:collapse;
}
		
td
{
	cursor:pointer;
	cursor:hand;
	border-style:solid;
	border-color:black;
	border-width:1px;
	padding:2px;
	color:black;	
	hover:#EBB043;
}
	
tr.d0 
{
	background-color:#FFFFFF;	
}
	
tr.d1 
{
	background-color:#DDDDDD; 
}

tr.highlight 
{
	background-color:#EBB043;	
}
	
tr.header 
{
	background-color:#347DC2; 
}
.visi1 
{ 
	display:;
}

.visi2 
{ 
	display:none;
}



	
