#menuHead{position:relative;height:35px;color:#E0E0E0;background:#143D55;width:100%;font-family:Helvetica,Arial,Verdana,sans-serif;}
#menuNav{position:relative;height:33px;font-size:12px;font-weight:bold;background:#fff url(imgs/dolphin_bg.gif) repeat-x bottom left;padding:0 0 0 20px;}
#menuNav ul{margin:0;padding:0;list-style-type:none;width:auto;float:left;}
#menuNav ul li{display:block;float:left;margin:0 1px;}
#menuNav ul li a{display:block;float:left;color:#EAF3F8;text-decoration:none;padding:0 0 0 20px;height:33px;}
#menuNav ul li a span{padding:12px 20px 0 0;height:21px;float:left;}
#menuNav ul li a:hover{color:#fff;background:transparent url(imgs/dolphin_bg-OVER.gif) repeat-x bottom left;}
#menuNav ul li a:hover span{display:block;width:auto;cursor:pointer;}
#menuNav ul li a.current,#menuNav ul li a.current:hover{color:#fff;background:#1D6893 url(imgs/dolphin_left-ON.gif) no-repeat top left;line-height:275%;}
#menuNav ul li a.current span{display:block;padding:0 20px 0 0;width:auto;background:#1D6893 url(imgs/dolphin_right-ON.gif) no-repeat top right;height:33px;}


table{font-family :sans-serif;
      font-size :12px;}

table#results{
	border-collapse:collapse;
}

#errorText{font-size :12px;
	text-align: center;
	font-style:italic
	color: Maroon;
	text-decoration: underline;}

tr.header 
{
	background-color:#DDDDDD; 
}




table#results td{
	
	font-family:sans-serif; 
	font-size:12px;
	border-style:solid;
	border-color:black;
	border-width:1px;
	padding:2px;
	color:black;	
}


#messageText{font-size :12px;
	text-align: left;
	font-style:italic;
	color: Maroon;
}

table#mainMenu{
	bgcolor : Silver;
	cellpadding : 5
	cellspacing : 0
	font-family :sans-serif;
      	font-size :12px;
	 }
	 
input.btn
{
	background-color:#000000;
	border:1px solid;
	border-top-color:#8FC4E8;
	border-left-color:#8FC4E8;
	border-right-color:#8FC4E8;
	border-bottom-color:#8FC4E8;
	cursor:pointer;
	cursor:hand;
	font-family:sans-serif;
	font-size:12px;
	color:white;
}




body#pageText {font-family :sans-serif;
      font-size :10px;}




.tool-tip {
	color: #fff;
	width: 139px;
	z-index: 13000;
}
 
.tool-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #9FD4FF;
	padding: 8px 8px 4px;
	background: url(imgs/bubble.png) top left;
}
 
.tool-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: url(imgs/bubble.png) bottom right;
}
 
.custom-tip {
	color: #000;
	width: 130px;
	z-index: 13000;
}
 
.custom-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #3E4F14;
	padding: 8px 8px 4px;
	background: #C3DF7D;
	border-bottom: 1px solid #B5CF74;
}
 
.custom-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: #CFDFA7;
}

input.btn
{
	background-color:#000000;
	border:1px solid;
	border-top-color:#8FC4E8;
	border-left-color:#8FC4E8;
	border-right-color:#8FC4E8;
	border-bottom-color:#8FC4E8;
	cursor:pointer;
	cursor:hand;
	font-family:sans-serif;
	font-size:12px;
	color:white;
}


div.show{
	display: inline;
}

div.hide{
	display: none;
}



