#inner {
padding-top:123px;
width:100%;
}

#layout_header_strip {
background: #000000 url(images/general-pages/layout-large-strip.jpg) repeat-x scroll left bottom;
height:369px;
position:absolute;
right:0pt;
top:0pt;
width:100%;
}
#layout_header_strip #layout_header_bar_left {
background: #000000 url(images/general-pages/layout-header-bar-left.jpg) repeat-x scroll left top;
height:125px;
left:0pt;
position:absolute;
top:0pt;
width:45%;
}
#layout_header_strip #layout_header_bar_right {
background: #000000 url(images/general-pages/layout-header-bar-right.jpg) repeat-x scroll left top;
height:48px;
position:absolute;
right:0pt;
top:0pt;
width:45%;
}

#wrapper {
background:#E3E6E3 url(images/general-pages/layout-content-area.jpg) repeat-y scroll center top;
}
#outer {
background:#FFFFFF url(images/general-pages/layout-bg-right-column.jpg) repeat-y scroll right top;
}

#header {
background: transparent url(images/general-pages/layout-header-main.jpg) no-repeat scroll left top;
height:125px;
left:0px;
position:absolute;
top:0px;
width:744px;
/* z-index:74; */
}

/*
#logo {
background:transparent url(images/logo_237x63.gif) no-repeat scroll left top;
display:none;
height:63px;
left:10px;
position:absolute;
text-indent:-5000px;
top:26px;
width:237px;
z-index:300;
}
*/
#logo {
height:60px;
position:absolute;
top: 39px;
right: 15px;
width:60px;
margin: 10px 5px 0 0;
z-index: 9999;
}

* html #outer, * html #header {
width:780px;
}
#footer {
/* background:transparent url(images/general-pages/layout-footer-main.jpg) no-repeat scroll left top; */
}


#left {
/*
background:transparent url(images/general-pages/layout-bg-content-area-top.jpg) repeat-x scroll left top;
*/
}




#content h2 {
background:transparent url(images/bullet-anim.gif) no-repeat scroll left top;
}


#content ul li {
font-size:110%;
list-style-image:url(images/bullet_11x8.gif);
margin-bottom:0.5em;
}


#search {

}

#top_menu{
display:block;
position: relative;
margin-left: 75px;
font-weight: 700;
font-size: 11px;
/* padding: 5px 0; */
}

#top_menu ul {
padding: 0;
margin: 0;
display: block;
margin-top: 30px;
}

#top_menu ul li {
padding: 0px;
margin: 0;
display: block;
float: left;
}
#top_menu ul li a {
position: relative;
display: block;
color: #fff;
text-decoration: none;
/* border-right: 1px solid #fff; */
border-top: 0px solid #fff;
border-bottom: 0px solid #fff;
padding: 5px 10px;
}
#top_menu ul li.current a {
position: relative;
display: block;
text-decoration: none;
/* 
border-right: 1px solid #fff; 
color: #000;
background-color: #fff;
text-transform: uppercase;
border-top: 5px solid #0ff;
*/
border-bottom: 5px solid #ff0;
padding: 0 10px;
font-size: 12px;

}

.home_link {
position: relative;
float: left;
width: 290px;
margin-top: 15px;
padding: 0;
border: none;
}

h1 { display: none; }

#content ul li, #footer ul li{
list-style-image: url(images/bullet-image.png);
}

#content h2 {
background:transparent url(images/bullet-anim.gif) no-repeat scroll -5px 10px;
font-size:20px;
line-height:24px;
padding-left:22px;
margin-left: 0px;
position:relative;
z-index:999;
border-bottom: 1px solid #ccf;
}

/***  Product List at bottom of general pages (products)  ***/

#products-and-services{
position: relative;
margin-top: 30px;
height: 100px;
}

#products-and-services #product-title{
	display: block;
	height: 35px;
	background: url( images/background-ProductsPageIcons.png ) no-repeat center center;
	text-align: center;
	padding-top: 0px;
	font-size: 24px
	font-weight: 700;
	line-height: 35px;
}
#products-and-services ul.productList{
	margin: 0;
	padding: 0;
	text-align: center;
}

#products-and-services ul.productList li{
	list-style-type: none;
	list-style-image: none;
	background: none;
	display: block;
	float: left;
	width: 60px;
}
#products-and-services ul.productList li a{
	width: 100%;
	margin: 5px;
	padding: 0;
}

#products-and-services ul.productList li a span{
	position: absolute;
	top: 10px;
	left: 100px;
	margin: 0;
	font-weight: 700;
	display: none;
	width: 300px;
	text-align: center;
}
#products-and-services ul.productList li a:hover span{
	display: block;
}
#products-and-services ul.productList li a img{
	margin: 0;
	padding: 2px;
	display: block;
	float: left;
	padding-left: 17px;
}
#products-and-services ul.productList li a:hover img{
}
#products-and-services #product-others-title{
	color: #999;

}

.productBanner{
margin-left: -16px;
margin-bottom: 10px;
}