#inner {
padding-top:99px;
}
#layout_header_strip {
background: #000000 url(images/main-page/layout-large-strip.jpg) repeat-x scroll left bottom;
height:369px;
position:absolute;
right:0pt;
top:0pt;
width:100%;
}
#layout_header_strip #layout_header_bar_left {
background: #000000 url(images/main-page/layout-header-bar-left.jpg) repeat-x scroll left top;
height:98px;
left:0pt;
position:absolute;
top:0pt;
width:50%;
}
#layout_header_strip #layout_header_bar_right {
background: #000000 url(images/main-page/layout-header-bar-right.jpg) repeat-x scroll left top;
height:22px;
position:absolute;
right:0pt;
top:0pt;
width:50%;
}

#wrapper {
background:#E3E6E3 url(images/main-page/layout-content-area.jpg) repeat-y scroll center top;
}


#header {
background: #000000 url(images/main-page/layout-header-main.jpg) no-repeat scroll left top;
height:98px;
margin: 0;
padding: 0;
left:0pt;
position:absolute;
top:0pt;
width:744px;
z-index:74;
}
#logo {
margin: 12px 5px 0 0;
padding: 0;	
position:relative;
z-index:300;
float: right;
}

#footer {
/* background:transparent url(images/main-page/layout-footer-main.jpg) no-repeat scroll left top; */
}

#left {
width:744px;
margin: 0;
padding: 0;
}

#content .post h2 {
display: none;
}

.highlight {
background-color:#F2F2F2;
color:#618200;
font-size:12px;
font-weight:700;
line-height:18px;
}

#content ul li {
/*
font-size:110%;
list-style-image:url(images/bullet_11x8.gif);
margin-bottom:0.5em;
*/
}

.links_column{
position: relative;
/* border-right: 1px solid #ccc; */
width: 49.9%;
float: left;
margin-top: 0px;
}

#column3{
position: relative;
float: left;
border: none;
}

#column1{
width: 240px;
}
#column2 {
width: 475px;
margin-left: 10px;
}
#column1, #column2, #column3{
float: left;
position: relative;
}

.links_column ul{
margin:0pt;
padding:0pt 0pt 0pt 0px;
position: relative;

}

.links_column ul li {
background:transparent url(images/sliding-button-General_left.jpg) no-repeat scroll left top; /* button at initial state */
position: relative;
display: block;
}

.links_column ul li a {
background:transparent url(images/sliding-button-General_right.jpg) no-repeat scroll right top; /* button at initial state */
display:block; 
font-weight:700;
height: 20px !important;
height:25px;
padding:5px 15px 0 38px;
position:relative;
text-decoration:none;
color:#000;
position: relative;
}



/* start canvas buttons stuff here */
.mootabs_title {
height:34px;
list-style-image:none;
list-style-type:none;
margin:0;
padding:0;
z-index: 2000;
float: left;
left: 90px;
position: relative;
}
.mootabs_title li {
background:transparent url(images/main-page/sliding-button-v4_left.png) no-repeat scroll left top;
color:#000000;
cursor:pointer;
float: left;
font-weight:700;
height:34px;
margin-right:0pt;
padding-left:0px;
text-transform:uppercase;
display: block;
}
.mootabs_title li:hover a{color:#fff}

.mootabs_title li.active {
background:transparent url(images/main-page/sliding-button-v4_left.png) no-repeat scroll 0px -136px;
color:#fff;
height:34px;
margin-top:0px;
padding-left:0px;
}
.mootabs_title li a {
background:transparent url(images/main-page/sliding-button-v4_right.png) no-repeat scroll right top;
display:block;
float:left;
font-weight:700;
height:24px;
padding:10px 19px 0pt;
position:relative;
}
.mootabs_title li.active a {
background:transparent url(images/main-page/sliding-button-v4_right.png) no-repeat scroll right -136px; 
height:24px;
padding:10px 19px 0pt;
}

.mootabs_title li a{
	border: none;
	text-decoration: none;
	color:#000;
}

.mootabs_title li.active a{
	color: #fff;
}

.mootabs_panel {
clear:both;
display:none;
height:268px;
overflow:hidden;
padding:0px;
position:relative;
}
.mootabs_panel.active {
display:block;
}

/* end canvas buttons stuff here */


.ajax-loading{
background: url('images/spinner.gif') no-repeat top left;
height: 25px;
}


/******  Canvas Descriptions ***/
#descriptionIntroduction{

}

#service-icons{
	display: block;
	position: absolute;
	top: 44px;
	left: 255px;
	height: 235px;
	width: 224px;
	background: none;
	cursor: pointer;
}