#logo {
margin: 25px 5px 0 0;
}

#footer {
display: block;
left: 50%;
margin: 0 0 0 -385px;
padding: 0;
clear:both;
width:770px;
}

.footerFixer{
display: block;
height: 47px;
}

#layout_footer_strip {
padding: 0;
margin: 0;
clear: both;
height:130px;
position: relative;
z-index:1;
}
#layout_footer_strip #layout_footer_bar_left {
bottom:0pt;
height:26px;
left:0pt;
position:absolute;
width:50%;
}
#layout_footer_strip #layout_footer_bar_right {
bottom:0pt;
height:92px;
position:absolute;
right:0pt;
width:50%;
}

.footerStripFixer{
}


#canvas ul.productList li{
width: 25%;
}

.mootabs_title li a {
height:34px;
padding:10px 19px 5px;
}

.mootabs_title li.active a {
height: 34px
}


#canvas h2 {
color: #fff;
background: url( images/main-page/bg-canvas-Heading2-IE6.png ) no-scroll left bottom;
}

.canvasBodyDescription h3{
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/main-page/bg-Heading2Desc.png');
background: url( images/main-page/bg-canvas-Heading3-IE6.png ) no-scroll left bottom;
}