<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "XHTML1-s.dtd" >
<html xmlns="http://www.w3.org/TR/1999/REC-html-in-xml"
	  xml:lang="en" lang="en" 
>
<head>
  <title>[(site_name)] | [*pagetitle*]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF8" /> <!--[(modx_charset)]-->
  <base href="[(site_url)]"></base>
  <link rel="stylesheet" href="assets/templates/2connect/2connect-common.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="assets/templates/2connect/print.css" type="text/css" media="print" />
  <link rel="stylesheet" href="assets/templates/2connect/2c_main-page.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="assets/templates/2connect/jd.gallery.css" type="text/css" media="screen" />    
  <!--[if IE 6]>
  <link rel="stylesheet" href="assets/templates/2connect/2c_main-page_ie.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="assets/templates/2connect/2c_common_ie.css" type="text/css" media="screen" />
  <![endif]-->
  <!--[if IE 7]>
  <link rel="stylesheet" href="assets/templates/2connect/2c_main-page_ie7.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="assets/templates/2connect/2c_common_ie7.css" type="text/css" media="screen" />
  <![endif]-->
  <link rel="stylesheet" href="assets/templates/2connect/form.css" type="text/css" media="screen" />
  [*formValidator*]
	<script src="assets/js/mootools/mootools-release-1.11.js" type="text/javascript"></script>
	<script type="text/javascript" language="javascript" src="[~98~]"></script>
	<!--
	<script src="assets/js/mootools/mootools-release-1.11.js" type="text/javascript"></script>
	<script src="assets/js/modalizer/modalizer.js" type="text/javascript"></script>
	<script src="assets/js/gallery/jd.gallery.js" type="text/javascript"></script>
	<script src="assets/js/gallery/jd.gallery.transitions.js" type="text/javascript"></script>
	<script src="assets/js/gallery/jd.gallery.set.js" type="text/javascript"></script>
	<script src="assets/js/multibox/multibox.js" type="text/javascript"></script>
	<script src="assets/js/multibox/overlay.js" type="text/javascript"></script>
	-->
	
	
	<link rel="stylesheet" href="assets/js/multibox/multibox.css" type="text/css" />
	
	<script type="text/javascript" language="javascript" src="assets/templates/2connect/js/2connect.js"></script>

</head>
<body class="main">

<div id="wrapper">
	<div id="layout_header_strip">
		<div id="layout_header_bar_left">&nbsp;</div>
		<div id="layout_header_bar_right">&nbsp;</div>
	</div>
  <div id="minHeight"></div>
  <div id="outer">
    <div id="inner">
		<!-- Start of the Canvas Area -->
		<div id="canvasArea">
		  <div id="canvas">
			<div id="globe" class="mootabs_panel">{{canvasMain}}</div>
			<div id="business" class="mootabs_panel">{{canvasBusiness}}</div>
			<div id="news" class="mootabs_panel">{{canvasNews}}</div>
			<div id="about" class="mootabs_panel">{{canvasAbout}}</div>
			<div id="contact" class="mootabs_panel">{{canvasContact}}</div>
			<!-- <div id="draw" class="mootabs_panel">{ { canvasDraw } }</div> -->
		  </div>
		  <div id="main_navigation">
			<ul class="mootabs_title">
				<li title="globe"><a href="[~47]&tab=globe"><img src="assets/templates/2connect/images/logo_tiny_white.gif" style="margin: -10px;"/></a></li>
				<li title="business"><a href="[~47~]&tab=business">Products and Services</a></li>
				<li title="news"><a href="[~47~]&tab=news">News</a></li>
				<li title="about"><a href="[~47~]&tab=about">About Us</a></li>
				<li title="contact"><a href="[~47~]&tab=contact">Contact Us</a></li>
				<!-- <li title="draw"><a href="[~47~]&tab=draw">Contest</a></li> -->
				
			</ul>  
		  </div>
		</div>
		<!-- End of the Canvas Area -->
		
		
		
      <div id="left">
        <div id="left-inner">
          <div id="content">
            <div class="post">
              <h2>[*longtitle*]</h2>
              [*#content*] 
              <div style="clear: both;"></div>
              </div>
            <!-- close .post (main column content) -->
          </div>
          <!-- close #content -->
        </div>
        <!-- end left-inner -->
      </div>
      <!-- end left -->
    </div>
    <!-- end inner -->
	<div style="clear:both;height:0;font-size: 1px"></div>
    <div id="clearfooter"></div>
    <div id="header">
      <h1><a id="logo" href="[~[(site_start)]~]" title="[(site_name)]"><img src="assets/templates/2connect/images/2C-logo.gif" width="60px" height="65px" title="[(site_name)]" /></a></h1>
    </div>
    <!-- end header -->
    <div style="clear:both;height:0;font-size: 1px"></div>
  </div>
  <!-- end outer div -->

<div id="layout_footer_strip">
    <div id="footer">
		[[Wayfinder?startId=`59` &level=`1` &outerTpl=`sdNav.OuterTpl` &innerTpl=`sdNav.InnerTpl` &rowTpl=`sdNav.RowTpl` &innerRowTpl=`sdNav.InnerRowTpl` &firstClass=`first` &hereClass=`current`]]
		<div class="footerFixer"></div>
	</div>
	<div id="layout_footer_bar_left">&nbsp</div>
	<div id="layout_footer_bar_right">&nbsp</div>
	<div class="footerStripFixer"></div>
</div>
   <!-- end footer -->
  		
</div>
<!-- end wrapper -->
{{customer-login}}
{{SearchForm}}
</body>
</html>
