#right, #header {
display: none
}


	
#canvasArea img { display: none; }

#canvasArea div { display: block; }

#left {
	display: block;
	clear: both;
}

#footer{
	display: none;
}

#search, #customer_login { display: none; }

#column1, #column2 { display: block; clear: both; position: relative;}

h1{
	margin: 0;
	padding: 0;
}