<h2>Calls To 16555721  | </h2>From 2009-02-16 00:00:00 To 2009-02-28 23:59:59<h2></h2><br><b>Total Cost: </b>0.0000 BD<br><b>Number of Calls: </b>0 Calls<br><b>Called Minutes: </b>0 Minutes<br><b>Called Seconds: </b>0 Seconds