<h2>Calls To 16555721  | </h2>From 2009-08-1 00:00:00 To 2009-08-31 23:59:59<h2></h2><br><b>Total Cost: </b>0.0420 BD<br><b>Number of Calls: </b>2 Calls<br><b>Called Minutes: </b>0.51666666666667 Minutes<br><b>Called Seconds: </b>31 Seconds