<h2>Calls To 16555721  | </h2>From 2009-05-1 00:00:00 To 2009-05-31 23:59:59<h2></h2><br><b>Total Cost: </b>0.0630 BD<br><b>Number of Calls: </b>3 Calls<br><b>Called Minutes: </b>0.43333333333333 Minutes<br><b>Called Seconds: </b>26 Seconds