<h2>Calls To 16555721  | </h2>From 2009-04-1 00:00:00 To 2009-04-30 23:59:59<h2></h2><br><b>Total Cost: </b>0.0420 BD<br><b>Number of Calls: </b>2 Calls<br><b>Called Minutes: </b>0.15 Minutes<br><b>Called Seconds: </b>9 Seconds