102966394;Was not found;075362772276;;500;;0;Sep 13 2007 11:00PM<br />
102966395;Was not found;075362786348;;500;;0;Sep 13 2007 11:00PM<br />
102966489;Was not found;075365908743;;500;;0;Sep 13 2007 11:00PM<br />
102966508;Was not found;075366649176;;500;;0;Sep 13 2007 11:00PM<br />
102966403;Was not found;075363039014;;500;;0;Sep 13 2007 11:00PM<br />
102886311;Valid;072558658052;;500;;0;Jul 10 2010 06:42AM<br />
102886312;Valid;072558695212;;500;;0;Jul 10 2010 06:42AM<br />
102966488;Was not found;075365869226;;500;;0;Sep 13 2007 11:00PM<br />
102966491;Was not found;075366019241;;500;;0;Sep 13 2007 11:00PM<br />
102966404;Was not found;075363062687;;500;;0;Sep 13 2007 11:00PM<br />
102966405;Was not found;075363122151;;500;;0;Sep 13 2007 11:00PM<br />
102966406;Was not found;075363159577;;500;;0;Sep 13 2007 11:00PM<br />
102966402;Was not found;075363003883;;500;;0;Sep 13 2007 11:00PM<br />
102966381;Was not found;075362393488;;500;;0;Sep 13 2007 11:00PM<br />
102966387;Was not found;075362556627;;500;;0;Sep 13 2007 11:00PM<br />
102966379;Was not found;075362316703;;500;;0;Sep 13 2007 11:00PM<br />
102966377;Was not found;075362282087;;500;;0;Sep 13 2007 11:00PM<br />
102966388;Was not found;075362585273;;500;;0;Sep 13 2007 11:00PM<br />
102966374;Was not found;075362163682;;500;;0;Sep 13 2007 11:00PM<br />
102966419;Was not found;075363555657;;500;;0;Sep 13 2007 11:00PM<br />
102884486;Valid;072495471633;;500;;0;Jul 10 2010 06:42AM<br />
102884487;Valid;072495482089;;500;;0;Jul 10 2010 06:42AM<br />
102884485;Valid;072495457092;;500;;0;Jul 10 2010 06:42AM<br />
101181961;Valid;829799198148;;1000;;0;Jul 10 2010 06:37AM<br />
101181828;Valid;829794464959;Jan 17 2010 10:05AM;1000;;0;Jul 10 2010 06:37AM<br />
105354840;Valid;240829172310;;1000;;0;Jul 10 2010 06:46AM<br />
105354841;Valid;584524660234;;1000;;0;Jul 10 2010 06:46AM<br />
105354839;Valid;831156517906;;1000;;0;Jul 10 2010 06:46AM<br />
105997017;Valid;869512417183;;1000;;0;Jul 10 2010 06:46AM<br />
106015750;Valid;723745506063;;1000;;0;Jul 10 2010 06:46AM<br />
105652374;Valid;011546579296;;1000;;0;Jul 10 2010 06:46AM<br />
105652371;Valid;619931680919;;1000;;0;Jul 10 2010 06:46AM<br />
105652373;Valid;530258600130;;1000;;0;Jul 10 2010 06:46AM<br />
105652365;Valid;601971470822;;1000;;0;Jul 10 2010 06:46AM<br />
105356271;Valid;427420757813;;1000;;0;Jul 10 2010 06:46AM<br />
101178145;Valid;829667101322;;1000;;0;Jul 10 2010 06:37AM<br />
101178104;Valid;829665659223;;1000;;0;Jul 10 2010 06:37AM<br />
101178102;Valid;829665574242;;1000;;0;Jul 10 2010 06:37AM<br />
105652360;Valid;457124144930;;1000;;0;Jul 10 2010 06:46AM<br />
106046079;Valid;989839243528;;1000;;0;Jul 10 2010 06:46AM<br />
105264773;Valid;991209610831;;1000;;0;Jul 10 2010 06:46AM<br />
101178103;Valid;829665618774;;1000;;0;Jul 10 2010 06:37AM<br />
105650159;Valid;272308390477;;1000;;0;Jul 10 2010 06:46AM<br />
105266362;Valid;200394738725;;1000;;0;Jul 10 2010 06:46AM<br />
105352171;Valid;064128974644;;1000;;0;Jul 10 2010 06:46AM<br />
105601092;Valid;060411365914;;1000;;0;Jul 10 2010 06:46AM<br />
105600196;Valid;117411231500;;1000;;0;Jul 10 2010 06:46AM<br />
105601090;Valid;779363999719;;1000;;0;Jul 10 2010 06:46AM<br />
105601089;Valid;308068979495;;1000;;0;Jul 10 2010 06:46AM<br />
105681134;Valid;235258934066;;1000;;0;Jul 10 2010 06:46AM<br />
105445350;Valid;517747954809;Feb 16 2009 07:05AM;1000;;0;Jul 10 2010 06:46AM<br />
105435938;Valid;117701038999;Apr 06 2009 11:04AM;1000;;0;Jul 10 2010 06:46AM<br />
105553801;Valid;371365481616;Apr 17 2009 03:29AM;1000;;0;Jul 10 2010 06:46AM<br />
105300077;Valid;226371985253;Mar 20 2009 11:43AM;1000;;0;Jul 10 2010 06:46AM<br />
103329242;Valid;162755879889;Oct 08 2007 12:45PM;1000;;0;Jul 10 2010 06:37AM<br />
105682158;Valid;595912170400;;1000;;0;Jul 10 2010 06:46AM<br />
105577592;Valid;232603980757;Apr 20 2009 10:13AM;1000;;0;Jul 10 2010 06:46AM<br />
105682205;Valid;321216867560;;1000;;0;Jul 10 2010 06:46AM<br />
105682087;Valid;973069586416;;1000;;0;Jul 10 2010 06:46AM<br />
105683082;Valid;261046571764;Apr 27 2009 04:49PM;1000;;0;Jul 10 2010 06:46AM<br />
105635404;Valid;202341126843;Oct 30 2009 11:43AM;1000;;0;Jul 10 2010 06:46AM<br />
105682157;Valid;375227663449;;1000;;0;Jul 10 2010 06:46AM<br />
105615369;Valid;310257028963;May 28 2009 04:56PM;1000;;0;Jul 10 2010 06:46AM<br />
105682166;Valid;088877145980;;1000;;0;Jul 10 2010 06:46AM<br />
105682162;Valid;484444945667;;1000;;0;Jul 10 2010 06:46AM<br />
105682159;Valid;777202320259;;1000;;0;Jul 10 2010 06:46AM<br />
105682172;Valid;307532445835;;1000;;0;Jul 10 2010 06:46AM<br />
103208159;Valid;158522907884;Oct 20 2008 03:05PM;1000;;0;Jul 10 2010 06:37AM<br />
105682156;Valid;491331356762;;1000;;0;Jul 10 2010 06:46AM<br />
105323028;Valid;393971197067;;1000;;0;Jul 10 2010 06:46AM<br />
105685627;Valid;604794420394;;1000;;0;Jul 10 2010 06:46AM<br />
105664459;Valid;835175073585;Nov 11 2009 11:51AM;1000;;0;Jul 10 2010 06:46AM<br />
105653298;Valid;207025550028;;1000;;0;Jul 10 2010 06:46AM<br />
105516828;Valid;883757809491;May 27 2009 06:23PM;1000;;0;Jul 10 2010 06:46AM<br />
103266465;Valid;160559955755;;1000;;0;Jul 10 2010 06:37AM<br />
105601091;Valid;210123792014;;1000;;0;Jul 10 2010 06:46AM<br />
105516842;Valid;447345231445;May 27 2009 01:28PM;1000;;0;Jul 10 2010 06:46AM<br />
105682163;Valid;622871539681;;1000;;0;Jul 10 2010 06:46AM<br />
105446865;Valid;000003833401;Dec 30 2008 05:51PM;1000;;0;Jul 10 2010 06:46AM<br />
103219658;Was not found;158925005625;Sep 24 2008 06:34AM;1000;;0;Jul 10 2010 06:37AM<br />
105352172;Valid;935486160694;;1000;;0;Jul 10 2010 06:46AM<br />
105651778;Valid;284760216599;;1000;;0;Jul 10 2010 06:46AM<br />
105352194;Valid;478935121666;;1000;;0;Jul 10 2010 06:46AM<br />
105682164;Valid;352108444609;;1000;;0;Jul 10 2010 06:46AM<br />
105682173;Valid;835721594100;;1000;;0;Jul 10 2010 06:46AM<br />
105442581;Valid;415695822760;;1000;;0;Jul 10 2010 06:46AM<br />
105650156;Valid;913951658786;;1000;;0;Jul 10 2010 06:46AM<br />
105651775;Valid;140823579642;;1000;;0;Jul 10 2010 06:46AM<br />
105682165;Valid;450672527561;;1000;;0;Jul 10 2010 06:46AM<br />
105600198;Valid;295327672444;;1000;;0;Jul 10 2010 06:46AM<br />
103189129;Was not found;157857474073;;1000;;0;Sep 12 2008 02:33PM<br />
105654638;Valid;730294154355;;1000;;0;Jul 10 2010 06:46AM<br />
105654641;Valid;160586359635;;1000;;0;Jul 10 2010 06:46AM<br />
105654640;Valid;885747662115;;1000;;0;Jul 10 2010 06:46AM<br />
105266357;Valid;069482676691;;1000;;0;Jul 10 2010 06:46AM<br />
105680523;Valid;604752199803;;1000;;0;Jul 10 2010 06:46AM<br />
105600200;Valid;605281502944;;1000;;0;Jul 10 2010 06:46AM<br />
105600201;Valid;151945493100;;1000;;0;Jul 10 2010 06:46AM<br />
105653077;Valid;313419723044;;1000;;0;Jul 10 2010 06:46AM<br />
105653076;Valid;460664478851;;1000;;0;Jul 10 2010 06:46AM<br />
105600195;Valid;921818541731;;1000;;0;Jul 10 2010 06:46AM<br />
105345690;Valid;903385892469;Feb 03 2009 05:28PM;1000;;0;Jul 10 2010 06:46AM<br />
105539233;Valid;741864746232;;1000;;0;Jul 10 2010 06:46AM<br />
105600199;Valid;442248843977;;1000;;0;Jul 10 2010 06:46AM<br />
105400487;Valid;000006891478;Jun 27 2009 01:23AM;1000;;0;Jul 10 2010 06:46AM<br />
105325724;Valid;196891620802;;1000;;0;Jul 10 2010 06:46AM<br />
105654635;Valid;217236012218;;1000;;0;Jul 10 2010 06:46AM<br />
105650154;Valid;877927656365;;1000;;0;Jul 10 2010 06:46AM<br />
105580040;Valid;538699905398;Jul 16 2009 03:16AM;1000;;0;Jul 10 2010 06:46AM<br />
105463212;Valid;935379837912;Aug 20 2009 12:36PM;1000;;0;Jul 10 2010 06:46AM<br />
105385659;Valid;571279577579;;1000;;0;Jul 10 2010 06:46AM<br />
105598917;Valid;013501820648;Aug 30 2009 05:50AM;1000;;0;Jul 10 2010 06:46AM<br />
105450291;Valid;965605871956;Aug 08 2009 02:45PM;1000;;0;Jul 10 2010 06:46AM<br />
101009717;Was not found;119270212708;;1000;;0;Jul 10 2010 06:37AM<br />
105651776;Valid;286168641437;;1000;;0;Jul 10 2010 06:46AM<br />
105651777;Valid;641035848785;;1000;;0;Jul 10 2010 06:46AM<br />
105650157;Valid;208321455043;;1000;;0;Jul 10 2010 06:46AM<br />
105682169;Valid;207415393777;;1000;;0;Jul 10 2010 06:46AM<br />
105682206;Valid;641733509699;;1000;;0;Jul 10 2010 06:46AM<br />
105682207;Valid;313432190962;;1000;;0;Jul 10 2010 06:46AM<br />
105682208;Valid;131810056411;;1000;;0;Jul 10 2010 06:46AM<br />
105682095;Valid;254346989801;;1000;;0;Jul 10 2010 06:46AM<br />
105682191;Valid;408463423613;Oct 07 2009 04:19PM;1000;;0;Jul 10 2010 06:46AM<br />
105682216;Valid;433789219789;;1000;;0;Jul 10 2010 06:46AM<br />
105682160;Valid;431833305622;;1000;;0;Jul 10 2010 06:46AM<br />
105682214;Valid;618777544026;;1000;;0;Jul 10 2010 06:46AM<br />
105682096;Valid;018206941255;;1000;;0;Jul 10 2010 06:46AM<br />
105682220;Valid;096686365167;;1000;;0;Jul 10 2010 06:46AM<br />
105682120;Valid;929406108649;Sep 22 2009 10:08AM;1000;;0;Jul 10 2010 06:46AM<br />
105650158;Valid;031317214363;;1000;;0;Jul 10 2010 06:46AM<br />
105352197;Valid;103052753968;;1000;;0;Jul 10 2010 06:46AM<br />
105266358;Valid;641177594183;;1000;;0;Jul 10 2010 06:46AM<br />
105266359;Valid;435423062323;;1000;;0;Jul 10 2010 06:46AM<br />
105266360;Valid;709375238454;;1000;;0;Jul 10 2010 06:46AM<br />
105266361;Valid;507797674365;;1000;;0;Jul 10 2010 06:46AM<br />
105385662;Valid;573465482368;;1000;;0;Jul 10 2010 06:46AM<br />
105385660;Valid;029589352486;;1000;;0;Jul 10 2010 06:46AM<br />
105385661;Valid;534990530373;;1000;;0;Jul 10 2010 06:46AM<br />
105385667;Valid;810062893640;;1000;;0;Jul 10 2010 06:46AM<br />
105385666;Valid;234578398821;;1000;;0;Jul 10 2010 06:46AM<br />
105385697;Valid;517584878094;Jul 16 2009 09:38AM;1000;;0;Jul 10 2010 06:46AM<br />
105385676;Valid;282697420241;;1000;;0;Jul 10 2010 06:46AM<br />
102966444;Was not found;075364467520;;500;;0;Sep 13 2007 11:00PM<br />
102966445;Was not found;075364495668;;500;;0;Sep 13 2007 11:00PM<br />
102966446;Was not found;075364553116;;500;;0;Sep 13 2007 11:00PM<br />
102966447;Was not found;075364587770;;500;;0;Sep 13 2007 11:00PM<br />
102966429;Was not found;075363903961;;500;;0;Sep 13 2007 11:00PM<br />
102966430;Was not found;075363942430;;500;;0;Sep 13 2007 11:00PM<br />
102966431;Was not found;075363999424;;500;;0;Sep 13 2007 11:00PM<br />
102966432;Was not found;075364012257;;500;;0;Sep 13 2007 11:00PM<br />
102966433;Was not found;075364055860;;500;;0;Sep 13 2007 11:00PM<br />
102966424;Was not found;075363743236;;500;;0;Sep 13 2007 11:00PM<br />
102966425;Was not found;075363755442;;500;;0;Sep 13 2007 11:00PM<br />
102966426;Was not found;075363771366;;500;;0;Sep 13 2007 11:00PM<br />
102966427;Was not found;075363827085;;500;;0;Sep 13 2007 11:00PM<br />
102966428;Was not found;075363848853;;500;;0;Sep 13 2007 11:00PM<br />
102966455;Was not found;075364826456;;500;;0;Sep 13 2007 11:00PM<br />
102966456;Was not found;075364853377;;500;;0;Sep 13 2007 11:00PM<br />
102966457;Was not found;075364888659;;500;;0;Sep 13 2007 11:00PM<br />
102966472;Was not found;075365411451;;500;;0;Sep 13 2007 11:00PM<br />
102966473;Was not found;075365428974;;500;;0;Sep 13 2007 11:00PM<br />
102966530;Was not found;075367440925;;500;;0;Sep 13 2007 11:00PM<br />
102966529;Was not found;075367399634;;500;;0;Sep 13 2007 11:00PM<br />
102966510;Was not found;075366704888;;500;;0;Sep 13 2007 11:00PM<br />
102966511;Was not found;075366756169;;500;;0;Sep 13 2007 11:00PM<br />
102966512;Was not found;075366766891;;500;;0;Sep 13 2007 11:00PM<br />
102966513;Was not found;075366790610;;500;;0;Sep 13 2007 11:00PM<br />
102966468;Was not found;075365266816;;500;;0;Sep 13 2007 11:00PM<br />
102966467;Was not found;075365233638;;500;;0;Sep 13 2007 11:00PM<br />
102966466;Was not found;075365179399;;500;;0;Sep 13 2007 11:00PM<br />
102966470;Was not found;075365354373;;500;;0;Sep 13 2007 11:00PM<br />
102966471;Was not found;075365364616;;500;;0;Jul 10 2010 06:42AM<br />
102966465;Was not found;075365168965;;500;;0;Sep 13 2007 11:00PM<br />
102966534;Was not found;075367625979;;500;;0;Sep 13 2007 11:00PM<br />
102966533;Was not found;075367570486;;500;;0;Sep 13 2007 11:00PM<br />
102966509;Was not found;075366667753;;500;;0;Sep 13 2007 11:00PM<br />
102966536;Was not found;075367710192;;500;;0;Sep 13 2007 11:00PM<br />
102966274;Valid;075358715627;;500;;0;Jul 10 2010 06:42AM<br />
102966275;Valid;075358727863;;500;;0;Jul 10 2010 06:42AM<br />
102966276;Valid;075358765965;;500;;0;Jul 10 2010 06:42AM<br />
102966277;Valid;075358793673;;500;;0;Jul 10 2010 06:42AM<br />
102966278;Valid;075358810638;;500;;0;Jul 10 2010 06:42AM<br />
102966569;Was not found;075368847665;;500;;0;Sep 13 2007 11:00PM<br />
102966542;Was not found;075367974225;;500;;0;Sep 13 2007 11:00PM<br />
102966543;Was not found;075368021806;;500;;0;Sep 13 2007 11:00PM<br />
102966541;Was not found;075367918667;;500;;0;Sep 13 2007 11:00PM<br />
102966540;Was not found;075367867964;;500;;0;Sep 13 2007 11:00PM<br />
102966501;Was not found;075366356963;;500;;0;Sep 13 2007 11:00PM<br />
102966502;Was not found;075366409077;;500;;0;Sep 13 2007 11:00PM<br />
102966499;Was not found;075366305233;;500;;0;Sep 13 2007 11:00PM<br />
102966458;Was not found;075364947159;;500;;0;Sep 13 2007 11:00PM<br />
102966477;Was not found;075365529783;;500;;0;Sep 13 2007 11:00PM<br />
102966476;Was not found;075365485572;;500;;0;Sep 13 2007 11:00PM<br />
102966293;Valid;075359381656;;500;;0;Jul 10 2010 06:42AM<br />
102966292;Valid;075359331819;;500;;0;Jul 10 2010 06:42AM<br />
102966291;Valid;075359288448;;500;;0;Jul 10 2010 06:42AM<br />
102966290;Valid;075359238998;;500;;0;Jul 10 2010 06:42AM<br />
102966289;Valid;075359212270;;500;;0;Jul 10 2010 06:42AM<br />
102966288;Valid;075359155457;;500;;0;Jul 10 2010 06:42AM<br />
102966287;Valid;075359132117;;500;;0;Jul 10 2010 06:42AM<br />
102966286;Valid;075359115753;;500;;0;Jul 10 2010 06:42AM<br />
102966285;Valid;075359086417;;500;;0;Jul 10 2010 06:42AM<br />
102966284;Valid;075359027829;;500;;0;Jul 10 2010 06:42AM<br />
102966283;Valid;075358979202;;500;;0;Jul 10 2010 06:42AM<br />
102966282;Valid;075358951058;;500;;0;Jul 10 2010 06:42AM<br />
102966281;Valid;075358902075;;500;;0;Jul 10 2010 06:42AM<br />
102966280;Valid;075358854910;;500;;0;Jul 10 2010 06:42AM<br />
102966279;Valid;075358841800;;500;;0;Jul 10 2010 06:42AM<br />
102966434;Was not found;075364101248;;500;;0;Sep 13 2007 11:00PM<br />
102966435;Was not found;075364157995;;500;;0;Sep 13 2007 11:00PM<br />
102966436;Was not found;075364209988;;500;;0;Sep 13 2007 11:00PM<br />
102966437;Was not found;075364224353;;500;;0;Sep 13 2007 11:00PM<br />
102966438;Was not found;075364263350;;500;;0;Sep 13 2007 11:00PM<br />
102966439;Was not found;075364312076;;500;;0;Sep 13 2007 11:00PM<br />
102966440;Was not found;075364368381;;500;;0;Sep 13 2007 11:00PM<br />
102966441;Was not found;075364400196;;500;;0;Sep 13 2007 11:00PM<br />
102966442;Was not found;075364424777;;500;;0;Sep 13 2007 11:00PM<br />
102966443;Was not found;075364437584;;500;;0;Sep 13 2007 11:00PM<br />
102966273;Valid;075358675973;;500;;0;Jul 10 2010 06:42AM<br />
102966272;Valid;075358622180;;500;;0;Jul 10 2010 06:42AM<br />
102966271;Valid;075358590901;;500;;0;Jul 10 2010 06:42AM<br />
102966270;Valid;075358556108;;500;;0;Jul 10 2010 06:42AM<br />
102966269;Valid;075358513492;;500;;0;Jul 10 2010 06:42AM<br />
102963436;Valid;075258175634;;500;;0;Jul 10 2010 06:42AM<br />
102847449;Was not found;071200232352;;500;;0;Sep 13 2007 11:00PM<br />
102847451;Was not found;071200321191;;500;;0;Sep 13 2007 11:00PM<br />
102847442;Was not found;071199950752;;500;;0;Sep 13 2007 11:00PM<br />
102963435;Valid;075258141733;;500;;0;Jul 10 2010 06:42AM<br />
102966459;Was not found;075364985711;;500;;0;Sep 13 2007 11:00PM<br />
102966460;Was not found;075365041332;;500;;0;Sep 13 2007 11:00PM<br />
102966461;Was not found;075365063763;;500;;0;Sep 13 2007 11:00PM<br />
102966462;Was not found;075365077176;;500;;0;Sep 13 2007 11:00PM<br />
102966463;Was not found;075365090790;;500;;0;Sep 13 2007 11:00PM<br />
102847450;Was not found;071200279087;;500;;0;Sep 13 2007 11:00PM<br />
102966294;Valid;075359437195;;500;;0;Jul 10 2010 06:42AM<br />
102966295;Valid;075359496002;;500;;0;Jul 10 2010 06:42AM<br />
102966296;Valid;075359546788;;500;;0;Jul 10 2010 06:42AM<br />
102966297;Valid;075359557501;;500;;0;Jul 10 2010 06:42AM<br />
102966298;Valid;075359589703;;500;;0;Jul 10 2010 06:42AM<br />
102966487;Was not found;075365847704;;500;;0;Sep 13 2007 11:00PM<br />
102841661;Valid;070995270147;Jan 15 2010 01:10PM;500;;0;Jul 10 2010 06:42AM<br />
102966422;Was not found;075363676055;;500;;0;Sep 13 2007 11:00PM<br />
102940699;Valid;074463337242;;500;;1;Jan 17 2010 12:23PM<br />
102940607;Valid;074459904914;Sep 11 2010 05:09AM;500;;1;Jan 17 2010 12:23PM<br />
102847457;Was not found;071200566722;;500;;0;Sep 13 2007 11:00PM<br />
102966548;Was not found;075368221592;;500;;0;Sep 13 2007 11:00PM<br />
102966448;Was not found;075364622059;;500;;0;Sep 13 2007 11:00PM<br />
102966532;Was not found;075367518651;;500;;0;Sep 13 2007 11:00PM<br />
102966562;Was not found;075368656236;;500;;0;Sep 13 2007 11:00PM<br />
102966475;Was not found;075365474716;;500;;0;Sep 13 2007 11:00PM<br />
102966573;Was not found;075368959780;;500;;0;Sep 13 2007 11:00PM<br />
102966572;Was not found;075368925202;;500;;0;Sep 13 2007 11:00PM<br />
102966570;Was not found;075368876474;;500;;0;Sep 13 2007 11:00PM<br />
102966557;Was not found;075368444970;;500;;0;Sep 13 2007 11:00PM<br />
102847441;Was not found;071199893044;;500;;0;Sep 13 2007 11:00PM<br />
102966451;Was not found;075364699876;;500;;0;Sep 13 2007 11:00PM<br />
102966454;Was not found;075364797505;;500;;0;Sep 13 2007 11:00PM<br />
102966445;Was not found;075364495668;;500;;0;Sep 13 2007 11:00PM<br />
102847444;Was not found;071200028119;;500;;0;Sep 13 2007 11:00PM<br />
102847454;Was not found;071200435707;;500;;0;Sep 13 2007 11:00PM<br />
102847445;Was not found;071200064071;;500;;0;Sep 13 2007 11:00PM<br />
102966453;Was not found;075364771219;;500;;0;Sep 13 2007 11:00PM<br />
102966452;Was not found;075364754343;;500;;0;Sep 13 2007 11:00PM<br />
102966450;Was not found;075364675247;;500;;0;Sep 13 2007 11:00PM<br />
102847443;Was not found;071200006920;;500;;0;Sep 13 2007 11:00PM<br />
102847453;Was not found;071200405238;;500;;0;Sep 13 2007 11:00PM<br />
102847458;Was not found;071200582302;;500;;0;Sep 13 2007 11:00PM<br />
102847452;Was not found;071200367000;;500;;0;Sep 13 2007 11:00PM<br />
102966469;Was not found;075365317843;;500;;0;Sep 13 2007 11:00PM<br />
102966464;Was not found;075365147384;;500;;0;Sep 13 2007 11:00PM<br />
102966474;Was not found;075365439199;;500;;0;Sep 13 2007 11:00PM<br />
102966484;Was not found;075365762358;;500;;0;Sep 13 2007 11:00PM<br />
102966485;Was not found;075365790337;;500;;0;Sep 13 2007 11:00PM<br />
102966486;Was not found;075365821348;;500;;0;Sep 13 2007 11:00PM<br />
102966500;Was not found;075366321846;;500;;0;Sep 13 2007 11:00PM<br />
102966519;Was not found;075366985694;;500;;0;Sep 13 2007 11:00PM<br />
102966520;Was not found;075367015138;;500;;0;Sep 13 2007 11:00PM<br />
102966523;Was not found;075367166930;;500;;0;Sep 13 2007 11:00PM<br />
102966539;Was not found;075367846165;;500;;0;Sep 13 2007 11:00PM<br />
102966538;Was not found;075367818562;;500;;0;Sep 13 2007 11:00PM<br />
102965545;Valid;075333081677;Dec 15 2009 06:16PM;500;;0;Jul 10 2010 06:42AM<br />
102806552;Valid;069766710084;Nov 04 2008 07:47AM;500;;0;Jul 10 2010 06:42AM<br />
102966546;Was not found;075368119508;;500;;0;Sep 13 2007 11:00PM<br />
102816757;Valid;070125187820;Nov 10 2008 08:50PM;500;;0;Jul 10 2010 06:42AM<br />
102816359;Valid;070111430676;Nov 11 2008 12:10PM;500;;0;Jul 10 2010 06:42AM<br />
102888970;Valid;072651716698;Nov 30 2008 04:21PM;500;;0;Jul 10 2010 06:42AM<br />
102973324;Valid;075605807382;Mar 14 2009 04:52AM;500;;0;Jul 10 2010 06:42AM<br />
102986904;Valid;076082573120;Sep 12 2008 05:29PM;500;;0;Jul 10 2010 06:42AM<br />
102966567;Was not found;075368822409;;500;;0;Sep 13 2007 11:00PM<br />
102966565;Was not found;075368786587;;500;;0;Sep 13 2007 11:00PM<br />
102966566;Was not found;075368800657;;500;;0;Sep 13 2007 11:00PM<br />
102966564;Was not found;075368730676;;500;;0;Sep 13 2007 11:00PM<br />
102966561;Was not found;075368631714;;500;;0;Sep 13 2007 11:00PM<br />
102966478;Was not found;075365547893;;500;;0;Sep 13 2007 11:00PM<br />
102963272;Valid;075252373607;Dec 16 2009 07:54AM;500;;0;Jul 10 2010 06:42AM<br />
102966518;Was not found;075366963185;;500;;0;Sep 13 2007 11:00PM<br />
102966517;Was not found;075366930483;;500;;0;Sep 13 2007 11:00PM<br />
102966506;Was not found;075366558122;;500;;0;Sep 13 2007 11:00PM<br />
102966504;Was not found;075366459684;;500;;0;Sep 13 2007 11:00PM<br />
102966495;Was not found;075366136497;;500;;0;Sep 13 2007 11:00PM<br />
102966505;Was not found;075366509868;;500;;0;Sep 13 2007 11:00PM<br />
102966498;Was not found;075366266499;;500;;0;Sep 13 2007 11:00PM<br />
102966457;Was not found;075364888659;;500;;0;Sep 13 2007 11:00PM<br />
102966521;Was not found;075367073393;;500;;0;Sep 13 2007 11:00PM<br />
102966421;Was not found;075363640945;;500;;0;Sep 13 2007 11:00PM<br />
102966418;Was not found;075363505647;;500;;0;Sep 13 2007 11:00PM<br />
102966423;Was not found;075363720514;;500;;0;Sep 13 2007 11:00PM<br />
102966408;Was not found;075363235133;;500;;0;Sep 13 2007 11:00PM<br />
102965291;Valid;075323738561;;500;;0;Jul 10 2010 06:42AM<br />
102966537;Was not found;075367764347;;500;;0;Sep 13 2007 11:00PM<br />
102966535;Was not found;075367661121;;500;;0;Sep 13 2007 11:00PM<br />
102966544;Was not found;075368061140;;500;;0;Sep 13 2007 11:00PM<br />
Done Checking 
<br>Done
