<p>All the fields in this form are required for proper processing of your Order.</p>
<div id=errorsDiv></div>
<form id="Registration" action="[~82~]" method="POST" class="tcForm" name="Registration" action="#" method="POST" class="tcForm">
	<fieldset> 
		<legend>Contact's Information</legend>
		<label><span>Company/Account Name</span><input type="text" id="accountName" name="accountName" /></label>
		<label><span>CR/CPR #</span><input type="text" id="cr_cpr" name="cr_cpr" /></label>
		<label style="width: 90%;"><span><a href="#" id="orgIDCheck">I have an organization ID provided to me by 2Connect.</a></span></label>
		<label id="organizationID" style="display: none;"><span>Organization ID</span><input type="text" id="orgID" name="orgID" /></label>
	</fieldset>
	<fieldset>	
		<legend>Authorized Signatory Name</legend>
		<label><span>First Name</span><input type="text" id="signatory_fName" name="signatory_fName" /></label>
		<label><span>Last Name</span><input type="text" id="signatory_lName" name="signatory_lName" /></label>
		<label><span>CPR #</span><input type="text" id="signatory_cpr" name="signatory_cpr" /></label>
		<label><span>Title</span><input type="text" id="signatory_title" name="signatory_title" /></label>
	</fieldset>
	<fieldset>
		<legend>Address</legend>
		<label><span>Flat</span><input type="text" id="flat" name="flat" /></label>
		<label><span>Building</span><input type="text" id="building" name="building" /></label>
		<label><span>Road</span><input type="text" id="road" name="road" /></label>
		<label><span>Block</span><input type="text" id="block" name="block" /></label>
	</fieldset>
	<fieldset>
		<legend>Contact Person</legend>
		<label><span>First Name</span><input type="text" id="contact_fName" name="contact_fName" /></label>
		<label><span>Last Name</span><input type="text" id="contact_lName" name="contact_lName" /></label>
		<label><span>Title</span><input type="text" id="contact_title" name="contact_title" /></label>
		<label><span>Mobile</span><input type="text" id="contact_mobile" name="contact_mobile" /></label>
		<label><span>Email</span><input type="text" id="contact_email" name="contact_email" /></label>
		<label><span>Phone</span><input type="text" id="contact_phone" name="contact_phone" /></label>
		<label><span>Fax</span><input type="text" id="contact_fax" name="contact_fax" /></label>
	</fieldset>
	<fieldset>
		<legend>Choose your Service</legend>
		<span id="errorsDiv_service" class="fixThis" style="display:none;"></span>
		<span id="errorsDiv_package" class="fixThis" style="display:none;"></span>
		
		<label class="radioGroup"><input type="radio" id="service" value="internet" title="Business_Packages" name="service" value="internet" title="Business_Packages"/><span>Internet</span></label>

		<div id="Business_Packages" class="clearBoth" style="display: none;">
			<fieldset class="subSelection">
				<legend>Limited</legend>
				<label><input type="radio" value="B_256K_SU_TH" name="package" value="B_256K_SU_TH">256/64Kbps (2.5GB Threshold Single User)</label>
				<label><input type="radio" value="B_256K_TH" name="package" value="B_256K_TH">256/64Kbps (5GB Threshold)</label>
				<label><input type="radio" value="B_512K_TH" name="package" value="B_512K_TH">512/128Kbps (10GB Threshold)</label>
				<label><input type="radio" value="B_1M_TH" name="package" value="B_1M_TH">1M/256Kbps (15GB Threshold)</label>
				<label><input type="radio" value="B_2M_TH" name="package" value="B_2M_TH">2M/512Kbps (20GB Threshold)</label>
			</fieldset>
			<fieldset class="subSelection">
				<legend>Flat</legend>
				<label><input type="radio" value="B_256K_UN" name="package" value="B_256K_UN">256/64Kbps</label>
				<label><input type="radio" value="B_512K_UN" name="package" value="B_512K_UN">512/128Kbps</label>
				<label><input type="radio" value="B_1M_UN" name="package" value="B_1M_UN">1M/256Kbps</label>
				<label><input type="radio" value="B_2M_UN" name="package" value="B_2M_UN">2M/512Kbps</label>
			</fieldset>
		</div>

		<label class="radioGroup"><input type="radio" id="service" value="2Call" title="2Call_Packages" name="service" value="2call" title="2Call_Packages"/><span>2Call</span></label>
		
		<div id="2Call_Packages" class="clearBoth" style="display: none;">
			<fieldset class="subSelection">
				<legend>Numbers to be Activated</legend>
				<label><span>Number 1</span><input type="text" id="2CallNumber_1" name="2CallNumber_1"></label>
				<label><span>Number 2</span><input type="text" id="2CallNumber_2" name="2CallNumber_2"></label>
				<label><span>Number 3</span><input type="text" id="2CallNumber_3" name="2CallNumber_3"></label>
				<label><span>Number 4</span><input type="text" id="2CallNumber_4" name="2CallNumber_4"></label>
				<label><span>Number 5</span><input type="text" id="2CallNumber_5" name="2CallNumber_5"></label>
			</fieldset>
			<fieldset class="subSelection">
				<legend>Plan Type</legend>
				<label><input type="radio" value="Individual Standard" name="package" value="Individual">Individual Standard</label>
				<label><input type="radio" value="Individual Premium" name="package" value="Individual">Individual Premium</label>
				<label><input type="radio" value="Corporate Standard" name="package" value="Individual">Corporate Standard</label>
				<label><input type="radio" value="Corporate Premium" name="package" value="Individual">Corporate Premium</label>
				<label><input type="radio" value="Other" name="package" value="Individual">Other</label>
			</fieldset>
		</div>
		
		<label class="radioGroup"><input type="radio" id="service" value="dedicated" title="Dedicated_Packages" name="service" value="dedicated" title="Dedicated_Packages"/><span>DedicatedInternet</span></label>
		
		<div id="Dedicated_Packages" class="clearBoth" style="display: none;">
			<fieldset class="subSelection clearBoth">
				<legend>Dedicated Internet</legend>
				<label><input type="radio" value="DED-1M" name="package" value="DED-1M">1 Mbps</label>
				<label><input type="radio" value="DED-2M" name="package" value="DED-2M">2 Mbps</label>
				<label><input type="radio" value="DED-3M" name="package" value="DED-3M">3 Mbps</label>
				<label><input type="radio" value="DED-4M" name="package" value="DED-4M">4 Mbps</label>
				<label><input type="radio" value="DED-6M" name="package" value="DED-6M">6 Mbps</label>
			</fieldset>
		</div>
		
	</fieldset>
	<div class="clearBoth">
	<label class="formButton">
		<input type="image" class="submit" src="assets/templates/2connect/images/spacer.gif" width="150" height="30" id="Submit" name="Submit" />
	</label>
	</div>
	<input type="hidden" name="x2c01" value="[[secureKey]]" />
	<input type="hidden" name="x2c02" value="[[formType? &type=`serviceRegistration`]]" />
</form>
<div class="clearBoth">&nbsp;</div>
<div id="RegistrationResult" class="result" style="display: none;">
	&nbsp;
</div>