#menuHead{position:relative;height:56px;color:#E0E0E0;background:#143D55;width:100%;font-family:Helvetica,Arial,Verdana,sans-serif;}
#menuNav{position:relative;height:33px;font-size:12px;font-weight:bold;background:#fff url(images/dolphin_bg.gif) repeat-x bottom left;padding:0 0 0 20px;}
#menuNav ul{margin:0;padding:0;list-style-type:none;width:auto;float:left;}
#menuNav ul li{display:block;float:left;margin:0 1px;}
#menuNav ul li a{display:block;float:left;color:#EAF3F8;text-decoration:none;padding:0 0 0 20px;height:33px;}
#menuNav ul li a span{padding:12px 20px 0 0;height:21px;float:left;}
#menuNav ul li a:hover{color:#fff;background:transparent url(images/dolphin_bg-OVER.gif) repeat-x bottom left;}
#menuNav ul li a:hover span{display:block;width:auto;cursor:pointer;}
#menuNav ul li a.current,#menuNav ul li a.current:hover{color:#fff;background:#1D6893 url(images/dolphin_left-ON.gif) no-repeat top left;line-height:275%;}
#menuNav ul li a.current span{display:block;padding:0 20px 0 0;width:auto;background:#1D6893 url(images/dolphin_right-ON.gif) no-repeat top right;height:33px;}


table{font-family :sans-serif;
      font-size :12px;}

table#results{border-collapse: collapse;
	border-width: 1px;
	font-family :sans-serif;
      	font-size :14px;
	text-align: center;
	}

#errorText{font-size :14px;
	text-align: center;
	font-weight: bold;
	color: Red;
	text-decoration: underline;}

table#results th{background-color:93C2DD;
	 }

table#mainMenu{
	border-collapse: collapse;
	border-width: 1px;
	font-family :sans-serif;
      	font-size :17px;
	text-align: center;
	 }

table#mainMenu th{background-color:93C2DD;
		  font-weight: bold;
	 }

body {font-family :sans-serif;
      font-size :12px;}




.tool-tip {
	color: #fff;
	width: 139px;
	z-index: 13000;
}
 
.tool-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #9FD4FF;
	padding: 8px 8px 4px;
	background: url(bubble.png) top left;
}
 
.tool-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: url(bubble.png) bottom right;
}
 
.custom-tip {
	color: #000;
	width: 130px;
	z-index: 13000;
}
 
.custom-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #3E4F14;
	padding: 8px 8px 4px;
	background: #C3DF7D;
	border-bottom: 1px solid #B5CF74;
}
 
.custom-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: #CFDFA7;
}


