A:ACTIVE
{
	color : Blue;
	text-decoration: none;
}

A:LINK
{
	color : Blue;
	text-decoration: none;	
}

A:HOVER
{
	color : Red;
	text-decoration: none;		
}

A:VISITED
{
	color : Blue;
	text-decoration: none;
}

.visi1 
{ 
	display:;
}

.visi2 
{ 
	display:none;
}
