/* CSS Document */

.footerFont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.BlueHeadingFont {
	font-family: Arial, Helvetica, sans-serif;
	color: #347EC1;
	font-weight: bold;
	font-size: 16px;
}
.NormalFont {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
}
.NormalBoldFont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	vertical-align: bottom;
	margin-bottom: 7px;
	}
a:link {
	color: #0033FF;
}
a:visited {
	color: #663366;
}
a:hover {
	color: #CC3300;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	
}
.top {
	vertical-align: top;
}.smallBlueFont {
color: #347EC1; 
font-size: 14px; 
font-family: Arial, Helvetica, sans-serif;
}.DeadlineCell {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: bold;
	color:#FFFFFF;
	background:#FF0000;
}
