table
{
	border-collapse:collapse;
}
		
td
{
	cursor:pointer;
	cursor:hand;
	font-family:verdana; 
	font-size:8pt;
	border-style:solid;
	border-color:black;
	border-width:1px;
	padding:2px;
	color:black;	
	hover:#EBB043;
}
	
tr.d0 
{
	background-color:#FFFFFF;	
}
	
tr.d1 
{
	background-color:#DDDDDD; 
}

tr.highlight 
{
	background-color:#EBB043;	
}
	
tr.header 
{
	background-color:#347DC2; 
}

body
{
	font-family:verdana;
	font-size:10pt;
	color:black;	
}

input.btn
{
	background-color:#def;
   	border:1px solid;
   	border-top-color:#8FC4E8;
   	border-left-color:#8FC4E8;
   	border-right-color:#8FC4E8;
   	border-bottom-color:#8FC4E8;
   	cursor:pointer;
	cursor:hand;
}

input
{
	font-family:verdana;
	font-size:10pt;
	color:black;	
}

select
{
	font-family:verdana;
	font-size:10pt;
	color:black;	
}

.visi1 
{ 
	display:;
}

.visi2 
{ 
	display:none;
}



	
