<p>
	I need a call from your office. Here is my information.
</p>

<form id="CallMe" action="[~82~]" method="POST" class="tcForm call-me" name="CallMe">
	<fieldset> 
		<legend>Contact's Information</legend>
		<label><span>First Name</span><input type="text" id="fName" name="fName" /></label>
		<label><span>Last Name</span><input type="text" id="lName" name="lName" /></label>
		<label><span>Company</span><input type="text" id="company" name="company" /></label>
		<label><span>Title</span><input type="text" id="title" name="title" /></label>
		<div class="clearBoth"></div>
		<label class="clearBoth"><span>Mobile</span><input type="text" id="mobile" name="mobile" /></label>
		<label class="clearBoth"><span>eMail</span><input type="text" id="email" name="email" /></label>
		<div class="clearBoth"></div>
		<label><span>Phone</span><input type="text" id="phone" name="phone" /></label>
		<label><span>Fax</span><input type="text" id="fax" name="fax" /></label>
	</fieldset>
	<fieldset>
		<legend>Service Information</legend>
		<label><span>Product of Interest</span>
			<select id="productOfInterest" name="productOfInterest">
				<option> Select One </option>
				<option value="WDSL">WDSL</option>
				<option value="ADSL">ADSL</option>
				<option value="CPS">CPS</option>
				<option value="2Call">2Call</option>
			</select>
		</label>
		<label><span>I already have another ISP.</span><input type="checkbox" id="otherISP" name="otherISP"></label>
		<label class="clearBoth"><span>Comments/Questions</span><textarea id="comments" name="comments"></textarea></label>
	</fieldset>
	<fieldset>
		<legend>Help us</legend>
		<label><span>Industry</span>
			<select id="industry" name="industry">
				<option>Pick One</option>
				<option value="1">No 1</option>
				<option value="2">No 2</option>
				<option value="3">No 3</option>
			</select>
		</label>
		<label><span>How did you hear about us?</span><input type="text" id="howHear" name="howHear" /></label>
	</fieldset>
	<div id="CallMeResult" style="display: none;">
	&nbsp;
	</div>
	<label class="formButton">
		<input type="image" class="submit" src="assets/templates/2connect/images/spacer.gif" width="150" height="30" id="Submit" name="Submit" />
		<!--<input type="submit" id="Submit" value="Submit" name="Submit" value="Submit" />-->
	</label>
	
	<input type="hidden" name="x2c01" value="[[secureKey]]" />
	<input type="hidden" name="x2c02" value="[[formType? &type=`leadSubmission`]]" />

</form>

<p class="clearBoth">The information you provide to us will not be distributed.</p>