<!-- Customer Login -->
<div id="customer_login">
	<h2 id="customer-login-heading"><span>Customer Login</span></h2>
	<div id="loginFormContainer">
		<form id="customerLoginForm" action="[~82~]" method="post" class="tcForm">
			<label style="clear: both; width: 100%;"><span>Username: </span><input type="text" name="username" value="" /></label>
			<label style="clear: both; width: 100%;"><span>Password:</span><input type="password" name="password" value="" /></label>
			<label style="clear: both; width: 100%;"><input type="checkbox" name="rememberme" value="rememberme" style="width: auto;" /> Remember Me</label>
			<label style="clear: both; width: 100%;"><a style="margin: 0; padding: 0;" href="#" alt="Reset Password" />Forgot Password?</a></label>
			<label class="formButton">
				<input type="image" class="submit" src="assets/templates/2connect/images/spacer.gif" width="150" height="30" name="Submit" />
			</label>
			<!--
			<label style="clear: both;"><input type="submit" name="Submit" value="Login	" /></label>
			-->
			<div style="clear: both;">&nbsp;</div>
		</form>
	</div>
	<p id="login_instructions">CUSTOMER LOGIN</p>
</div>
<!-- End Customer Login -->