<h2>Weekly Draw</h2>
<img src="assets/images/blue-link_draw.png" style="position: absolute; bottom: 0; left: 0;" alt="Win with 2Connect"/>
<div id="draw_form_container">
	<h3> Sign up for our Weekly Draw and win a Calling Card</h3>
	<p style="clear: both; display: both; margin: 0; padding: 0;">You receive a confirmation email, and then will be notified by email/SMS if you win.<br/><br/></p>
	<form id="draw_form" action="[~82~]" method="post" class="tcForm">
		<label><span>Name: *</span><input type="text" name="name" value="" /></label>
		<label><span>City:</span><input type="text" name="city" value="" /></label>
		<label><span>Email: *</span><input type="text" name="email" value="" /></label>
		<label><span>Mobile: *</span><input type="text" name="mobile" value="" /></label>
		<!-- <label><input type="submit" name="Submit" value="Enter!" /></label> -->
		<label class="formButton">
			<input type="image" class="enterDraw" src="assets/templates/2connect/images/spacer.gif" width="150" height="30" name="Submit" />
		</label>
		<label id="drawResult"></label>
		<input type="hidden" name="x2c01" value="[[secureKey]]" />
		<input type="hidden" name="x2c02" value="[[formType? &type=`contest`]]" />
	</form>
</div>